.section_border {
  padding-bottom: 24px;
  position: relative;
}
.section_border::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f1f1f1;
  height: 2px;
}
.section_card {
  overflow: hidden;
}
.section_card .block-container__content {
  padding: 0 15px;
}
.section_while .card__box {
  background: #ffffff;
}
.section__box {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media (max-width: 1199px) {
  .section__box {
    max-width: 1024px;
  }
}
@media (max-width: 1023px) {
  .section__box {
    max-width: 768px;
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  .section__box {
    max-width: 640px;
    padding: 0 15px;
  }
}
@media (max-width: 639px) {
  .section__box {
    max-width: 100%;
  }
}
.section_card .block-container__content {
  margin: 0 -12px;
  padding: 0 12px;
}
.section.section_card.section_while.bottom {
  margin-bottom: 40px;
}
@media screen and (max-width: 1023px) {
  .section_card .section__box {
    padding: 0 !important;
  }
  .section_card .section__box .block-container__header {
    padding: 0 15px;
  }
  .section.news .section__box {
    padding: 0 !important;
  }
  .section.news .section__box .block-container__header {
    padding: 0 15px;
  }
  .section_brand .section__box {
    padding: 0 !important;
  }
  .section_brand .section__box .block-container__header {
    padding: 0 15px;
  }
  .section_card .block-container__content {
    margin: 0;
    padding: 0;
  }
}
.section_while.section_border::before {
  background: rgba(77, 65, 69, 0.1);
}
@media screen and (max-width: 992px) {
  .section {
    overflow: hidden;
  }
}
