include ../components/libs/bemto/bemto
include ../components/libs/jade-injected/jade-injected
include ../components/block-container/block-container
include ../components/head/head.pug
include ../components/header/header
include ../components/icon/icon
include ../components/breadcrumbs/breadcrumbs
include ../components/card/card
include ../components/pagination/pagination
include ../components/banner/banner
include ../components/headline/headline.pug
include ../components/filter-sidebar/filter-sidebar
include ../components/footer/footer.pug

doctype html
html(class="no-js", lang="ru")
    head
        +head({
            title: 'Интернет магазин Итальянской мебели в Москве'
        })
    body.page
        | %=symbols=%
        +header()
        .main
            +b.section
                +e.box
                    +b.head-conent.inner
                        +headline({text: 'Личный кабинет'})
                            +breadcrumbs({elements: ['Главная', 'Личный кабинет']})
                    +b.iner-content
                        .tabs.tabs_poduct.full
                            .tabs__nav
                                a.tabs__item.active(data-tab='one') Профиль
                                a.tabs__item(data-tab='two') История покупок
                                a.tabs__item(data-tab='three') История просмотров
                                a.tabs__item(data-tab='basket') История корзины
                                a.tabs__item(data-tab='bonus') бонусы 
                            .tabs__content
                                a.tabs__item.tabs__item_acr.active( rel="tab1" href='#tab1')
                                    span Профиль
                                .ui.tab.active(data-tab='one' id="tab1")
                                    
                                    .row
                                        .col-xs-10.col-sm-8.col-md-6.col-lg-6
                                            .row
                                                .col-xs-12.col-sm-12.col-md-11.col-lg-11
                                                    .row.flex.center.marBot10px
                                                        .col-xs-12.col-sm-2.marBot10px ФИО
                                                        .col-xs-12.col-sm-10.marBot15px
                                                            input(type="text" name="name").field.field.field_theme_default.field_size_default
                                                        .col-xs-12.col-sm-2.marBot10px E-mail
                                                        .col-xs-12.col-sm-10.marBot15px
                                                            input(type="text" name="name" ).field.field.field_theme_default.field_size_default
                                                        .col-xs-12.col-sm-2.marBot10px Телефон
                                                        .col-xs-12.col-sm-10.marBot15px
                                                            input(type="text" name="name" ).field.field.field_theme_default.field_size_default
                                                       
                                                        .col-xs-12.col-sm-6.col-md-6.col-lg-6
                                                            .row
                                                                .col-xs-12.marBot15px Город
                                                                .col-xs-12
                                                                    input(type="text" name="name" ).field.field.field_theme_default.field_size_default
                                                        .col-xs-12.col-sm-6.col-md-6.col-lg-6
                                                            .row
                                                                .col-xs-12.marBot15px Улица
                                                                .col-xs-12
                                                                    input(type="text" name="name" ).field.field.field_theme_default.field_size_default
                                                    .row
                                                        .col-xs-6.col-sm-3
                                                            .marBot15px Дом
                                                            input(type="text" name="name" ).field.field.field_theme_default.field_size_default
                                                        .col-xs-6.col-sm-3
                                                            .marBot15px Корпус
                                                            input(type="text" name="name" ).field.field.field_theme_default.field_size_default
                                                        .col-xs-6.col-sm-3
                                                            .marBot15px Квартира
                                                            input(type="text" name="name" ).field.field.field_theme_default.field_size_default
                                                        .col-xs-6.col-sm-3
                                                            .marBot15px Этаж
                                                            input(tytpe="text" name="name" ).field.field.field_theme_default.field_size_default
                                                    .product__info--button 
                                                        a.button.button_type_primary(href="#").marTop25px
                                                            span.button__text Сохранить
                                        .col-xs-10.col-sm-4.col-md-6.col-lg-6
                                            .page_avatar
                                                img(src="../static/img/assets/catalog/avatar2.jpg" alt="")
                                                <button class="button button_mod_banner"><span class="button__text">Загрузить аватар</span></button>
                                            .product__info--button
                                    
                                a.tabs__item.tabs__item_acr( rel="tab2" href='#tab2')
                                    span История покупок
                                .ui.tab(data-tab='two' id="tab2")
                                    .table-history
                                        table(width="100%")
                                            tr
                                                th Номер заказа
                                                th.hide-mobile Дата
                                                th.hide-mobile Кол-во
                                                th Сумма
                                                th.hide-mobile Статус
                                                th Бонусы
                                            tr 
                                                td
                                                    .bonus-item
                                                        span.bonus 256 785
                                                td.hide-mobile
                                                    .bonus-item
                                                        span.bonus 04.04.2019
                                                td.hide-mobile
                                                    .bonus-item
                                                        span.bonus 1
                                                td
                                                    .bonus-item
                                                        span.bonus 10 000 000
                                                td.hide-mobile
                                                    .bonus-item
                                                        span.bonus Выполнен
                                                td
                                                    .bonus-item
                                                        span.bonus 1000

                                a.tabs__item.tabs__item_acr( rel="tab3" href='#tab3')
                                    span История просмотров
                                .ui.tab(data-tab='three' id="tab3")
                                    
                                    h5 06.06.1999
                                    .grid
                                        - var n = 0
                                        while n < 7
                                            +card({
                                                image: 'product_catalog.png',
                                                name: 'Журнальные столики и пуфы коллекции Philipp фабрики Selva',
                                            })
                                            - n++;
                                    h5 04.08.1999
                                    .grid.product-border-bottom
                                        - var n = 0
                                        while n < 7
                                            +card({
                                                image: 'product_catalog.png',
                                                name: 'Журнальные столики и пуфы коллекции Philipp фабрики Selva',
                                            })
                                            - n++;
                                    .marTop30px
                                        .catalog__pagination
                                            +pagination({})
                                            .catalog__footer.catalog__footer-absolute
                                                .catalog--button.basket--clear--link
                                                    +b.button._type_primary очистить все
                                   
                                a.tabs__item.tabs__item_acr.tive( rel="tab4" href='#tab4')
                                        span История корзины
                                .ui.tab(data-tab='basket' id="tab4")
                                    +b.product-card._type_basket._disable
                                        .composition__check
                                            .composition__close
                                                svg(width="14" height="14" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M1 1L11.5 11.5M1 11.5L11.5 1" stroke="#414141")
                                            .ui.checkbox(style="opacity: 0;z-index: -1;")
                                                    input(class="hidden" type="checkbox" id="agreement-2" required="" tabindex="0")
                                                    label
                                        .product-card__image
                                            .product-date 04.08.1999
                                            .c-ratio._ratio-10
                                                .bg.cover(style="background-image: url('https://dev.elite-moscow.ru/upload/resize_cache/iblock/be1/200_200_2/be1d6beb7cd4a6bc16710911a7bbfe2d.jpg')", alt="")
                                            .product__number фото 3 штуки
                                        +e.content
                                            +e.item
                                                +e.info--prev
                                                    +e.A.name(href="#") Кровать с мягким изголовьем
                                                +e.info--main
                                                    +e.info--cell.mobille
                                                        +e.header
                                                            +e.title Артикул:
                                                            +e.text 4614/TL1
                                                    +e.info--cell
                                                        +e.header
                                                            +e.title Коллекция:
                                                            +e.text 113-223
                                                    +e.info--cell
                                                        +e.header
                                                            +e.title Товар:
                                                            +e.text.small в наличии
                                                    +e.info--cell
                                                        +e.header
                                                            +e.title Стоимость:
                                                            +e.text.price от 262 475 ₽
                                                            +e.text.price--del от 262 475 ₽
                                                    +e.info--button
                                                        .product-card__title 06.06.1999
                                    +b.product-card._type_basket
                                        .composition__check
                                            .composition__close
                                                svg(width="14" height="14" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M1 1L11.5 11.5M1 11.5L11.5 1" stroke="#414141")
                                            .ui.checkbox(style="opacity: 0;z-index: -1;")
                                                    input(class="hidden" type="checkbox" id="agreement-2" required="" tabindex="0")
                                                    label
                                        .product-card__image
                                            .c-ratio._ratio-10
                                                .bg.cover(style="background-image: url('https://dev.elite-moscow.ru/upload/resize_cache/iblock/be1/200_200_2/be1d6beb7cd4a6bc16710911a7bbfe2d.jpg')", alt="")
                                            .product__number фото 3 штуки
                                        +e.content
                                            +e.item
                                                +e.info--prev
                                                    +e.A.name(href="#") Кровать с мягким изголовьем
                                                +e.info--main
                                                    +e.info--cell.mobille
                                                        +e.header
                                                            +e.title Артикул:
                                                            +e.text 4614/TL1
                                                    +e.info--cell
                                                        +e.header
                                                            +e.title Коллекция:
                                                            +e.text 113-223
                                                    +e.info--cell
                                                        +e.header
                                                            +e.title Товар:
                                                            +e.text.small в наличии
                                                    +e.info--cell
                                                        +e.header
                                                            +e.title Стоимость:
                                                            +e.text.price от 262 475 ₽
                                                            +e.text.price--del от 262 475 ₽
                                                    +e.info--button
                                                        .product-card__title 06.06.1999
                                    +b.product-card._type_basket.product-border-bottom
                                        .composition__check
                                            .composition__close
                                                svg(width="14" height="14" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M1 1L11.5 11.5M1 11.5L11.5 1" stroke="#414141")
                                            .ui.checkbox(style="opacity: 0;z-index: -1;")
                                                    input(class="hidden" type="checkbox" id="agreement-2" required="" tabindex="0")
                                                    label
                                        .product-card__image
                                            .c-ratio._ratio-10
                                                .bg.cover(style="background-image: url('https://dev.elite-moscow.ru/upload/resize_cache/iblock/be1/200_200_2/be1d6beb7cd4a6bc16710911a7bbfe2d.jpg')", alt="")
                                            .product__number фото 3 штуки
                                        +e.content
                                            +e.item
                                                +e.info--prev
                                                    +e.A.name(href="#") Кровать с мягким изголовьем
                                                +e.info--main
                                                    +e.info--cell.mobille
                                                        +e.header
                                                            +e.title Артикул:
                                                            +e.text 4614/TL1
                                                    +e.info--cell
                                                        +e.header
                                                            +e.title Коллекция:
                                                            +e.text 113-223
                                                    +e.info--cell
                                                        +e.header
                                                            +e.title Товар:
                                                            +e.text.small в наличии
                                                    +e.info--cell
                                                        +e.header
                                                            +e.title Стоимость:
                                                            +e.text.price от 262 475 ₽
                                                            +e.text.price--del от 262 475 ₽
                                                    +e.info--button
                                                        .product-card__title 06.06.1999
                                    .marTop30px
                                        .catalog__pagination
                                            +pagination({})
                                            .catalog__footer.catalog__footer-absolute
                                                .catalog--button.basket--clear--link
                                                    +b.button._type_primary очистить все
                                    
                                a.tabs__item.tabs__item_acr( rel="tab5" href='#tab5')
                                    span бонусы 
                                .ui.tab(data-tab='bonus' id="tab5")
                                    .block--item.grid.flex.item-2.tablet.plane.marBot20px
                                        .item
                                            +b.block.border.marBot20px
                                                +e.wrap.smail 
                                                    h3.border-red Мои бонусы
                                                    .bonus-item
                                                        span Доступно бонусов: 
                                                        span.bonus 123
                                                    .bonus-item
                                                        span Израсходовано бонусов: 
                                                        span.bonus 12 345
                                                    .bonus-item
                                                        span Всего начислено бонусов:
                                                        span.bonus 12 345
                                                    i.bonus-item__size * Все начисленные бонусы Вы можете посмотреть в разделе истории покупок.
                                        .item
                                            +b.block.border.flex.center(style="overflow: hidden;").marBot20px
                                                img(src="https://s8.hostingkartinok.com/uploads/images/2019/03/489d5d56d67145590d39bc512c5b8a7f.png" style="max-width: 110%;")
                                    .iner-content-level--2
                                    .block--item.grid.flex.item-4.tablet.reviews--item.reviews--item--red
                                        .item
                                            +b.block.border
                                                +b.reviews
                                                    +e.avatar
                                                        <svg width="76" height="76" viewBox="0 0 76 76" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <g clip-path="url(#clip0)">
                                                                <path d="M12.6278 67.5287C12.3519 67.2524 11.9689 67.0938 11.5785 67.0938C11.1881 67.0938 10.8051 67.2524 10.529 67.5287C10.2529 67.8049 10.0941 68.1877 10.0941 68.5781C10.0941 68.9685 10.2528 69.3515 10.529 69.6274C10.8051 69.9035 11.1881 70.0625 11.5785 70.0625C11.9689 70.0625 12.3519 69.9037 12.6278 69.6274C12.9039 69.3515 13.0629 68.9685 13.0629 68.5781C13.0629 68.1877 12.904 67.8048 12.6278 67.5287Z" fill="#C0AA70"/>
                                                                <path d="M69.695 27.1546C69.4189 26.8784 69.0374 26.7197 68.6455 26.7197C68.2551 26.7197 67.8721 26.8784 67.5961 27.1546C67.3201 27.4307 67.1611 27.8137 67.1611 28.2041C67.1611 28.5945 67.32 28.9775 67.5961 29.2534C67.8721 29.5295 68.2551 29.6885 68.6455 29.6885C69.0374 29.6885 69.4189 29.5296 69.695 29.2534C69.9724 28.9775 70.1312 28.5945 70.1312 28.2041C70.1312 27.8137 69.9724 27.4307 69.695 27.1546Z" fill="#C0AA70"/>
                                                                <path d="M75.564 0.434773C75.2856 0.156453 74.9079 0 74.5141 0L37.9994 0.00192969C37.1797 0.00192969 36.5152 0.666633 36.5152 1.4863V5.73117L22.4449 9.50134C21.653 9.7136 21.1831 10.5275 21.3953 11.3192L28.6876 38.5341L22.3792 44.8425C21.5763 43.6702 20.2282 42.8992 18.7033 42.8992H4.45371C1.99826 42.8992 0.000732422 44.8969 0.000732422 47.3522V71.5469C0.000732422 74.0023 1.99826 76 4.45371 76H18.7034C20.7894 76 22.5442 74.5578 23.0252 72.6186L24.7901 74.1577C26.1526 75.3458 27.8982 76.0001 29.706 76.0001H74.5144C75.3341 76.0001 75.9988 75.3354 75.9988 74.5158V1.48438C75.9985 1.09072 75.8424 0.713094 75.564 0.434773ZM20.1875 71.547C20.1875 72.3654 19.5216 73.0314 18.7031 73.0314H4.45356C3.63508 73.0314 2.96919 72.3655 2.96919 71.547V47.3523C2.96919 46.5338 3.63508 45.8679 4.45356 45.8679H10.094V62.9672C10.094 63.7869 10.7587 64.4516 11.5784 64.4516C12.3981 64.4516 13.0628 63.7869 13.0628 62.9672V45.8679H18.7033C19.5217 45.8679 20.1876 46.5338 20.1876 47.3523V71.547H20.1875ZM24.647 11.9847L36.5152 8.80457V14.3049L35.5203 14.5715C35.1399 14.6735 34.8159 14.9221 34.619 15.2631C34.4222 15.604 34.3688 16.0091 34.4707 16.3894C35.0412 18.5182 33.7734 20.714 31.6446 21.2845C31.2639 21.3866 30.9393 21.6357 30.7426 21.9774C30.5459 22.3189 30.4929 22.7247 30.5958 23.1053L36.3817 44.5305H33.4026L31.8673 38.5241C31.8185 38.3329 31.733 38.1567 31.6185 38.0036L24.647 11.9847ZM36.5152 21.1121V33.6374L33.8078 23.6127C34.9388 23.0287 35.8643 22.155 36.5152 21.1121ZM57.8403 73.0312H29.7057C28.6155 73.0312 27.5626 72.6367 26.7409 71.9202L23.1562 68.794V48.264L29.6367 41.7835L30.8121 46.3821C30.9801 47.0392 31.5719 47.4988 32.2501 47.4988L61.4335 47.5006C62.5795 47.5006 63.5116 48.4328 63.5116 49.5787C63.5116 50.7247 62.5795 51.6568 61.4335 51.6568H46.4799C45.6603 51.6568 44.9956 52.3215 44.9956 53.1412C44.9956 53.9609 45.6603 54.6256 46.4799 54.6256H66.0796C67.2256 54.6256 68.1577 55.5578 68.1577 56.7037C68.1577 57.8497 67.2256 58.7818 66.0796 58.7818H46.4799C45.6603 58.7818 44.9956 59.4465 44.9956 60.2662C44.9956 61.0859 45.6603 61.7506 46.4799 61.7506H62.9035C64.0494 61.7506 64.9816 62.6828 64.9816 63.8287C64.9816 64.9747 64.0494 65.9068 62.9035 65.9068H46.4799C45.6603 65.9068 44.9956 66.5715 44.9956 67.3912C44.9956 68.2109 45.6603 68.8756 46.4799 68.8756H57.8403C58.9862 68.8756 59.9184 69.8078 59.9184 70.9537C59.9183 72.0991 58.9861 73.0312 57.8403 73.0312ZM73.0301 73.0312H73.0299H62.4376C62.7254 72.397 62.887 71.6938 62.887 70.9531C62.887 70.2124 62.7254 69.5093 62.4376 68.875H62.9035C65.6863 68.875 67.9502 66.611 67.9502 63.8283C67.9502 63.0166 67.7565 62.2496 67.4145 61.5695C69.5514 60.9826 71.1262 59.0239 71.1262 56.7034C71.1262 55.5777 70.7554 54.537 70.13 53.6968V34.8839C70.13 34.0642 69.4653 33.3995 68.6457 33.3995C67.826 33.3995 67.1613 34.0642 67.1613 34.8839V51.7749C66.8125 51.6984 66.4507 51.6568 66.0793 51.6568H66.0306C66.3185 51.0226 66.4801 50.3194 66.4801 49.5787C66.4801 46.7958 64.2161 44.532 61.4334 44.532H59.0472C61.5809 43.4454 63.3604 40.927 63.3604 38C63.3604 34.0829 60.1737 30.8961 56.2566 30.8961C52.3396 30.8961 49.1528 34.0829 49.1528 38C49.1528 40.927 50.9325 43.4454 53.466 44.532H45.352V16.3078C48.0036 15.7299 50.096 13.6377 50.6737 10.9859H61.8394C62.4171 13.6377 64.5094 15.7299 67.1611 16.3078V20.9227C67.1611 21.7424 67.8258 22.4071 68.6455 22.4071C69.4652 22.4071 70.1299 21.7424 70.1299 20.9227V14.9825C70.1299 14.1629 69.4652 13.4982 68.6455 13.4982C66.4417 13.4982 64.649 11.7052 64.649 9.50148C64.649 8.68181 63.9843 8.01711 63.1646 8.01711H49.3486C48.529 8.01711 47.8643 8.68181 47.8643 9.50148C47.8643 11.7053 46.0714 13.4982 43.8677 13.4982C43.0481 13.4982 42.3834 14.1629 42.3834 14.9825V44.5318H39.4841V2.97038L73.0301 2.96875V73.0312ZM56.2569 42.1352C53.9768 42.1352 52.1219 40.2801 52.1219 38.0001C52.1219 35.7201 53.9769 33.865 56.2569 33.865C58.5369 33.865 60.3919 35.72 60.3919 38C60.3919 40.28 58.5371 42.1352 56.2569 42.1352Z" fill="#C0AA70"/>
                                                            </g>
                                                        </svg>
                                                    +e.head
                                                        +e.name.small 
                                                    +e.main
                                                        +e.text  При оплате товаров в сети компании «ELIT» Вы сможете получать специальные бонусы, которые будут начисляться на Ваш бонусный счет в личном кабинете. С каждой покупки Вы получите 1.5 % от стоимости товаров  в виде премиальных бонусов !
                                        .item
                                            +b.block.border
                                                +b.reviews
                                                    +e.avatar
                                                        <svg width="74" height="74" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <g clip-path="url(#clip0)">
                                                                <path d="M25.6981 29.9071C26.2632 29.3419 26.2632 28.4268 25.6981 27.8633C25.1346 27.2982 24.2195 27.2982 23.6543 27.8633C23.0892 28.4268 23.0892 29.3419 23.6543 29.9071C24.2195 30.4705 25.1346 30.4705 25.6981 29.9071Z" fill="#C0AA70"/>
                                                                <path d="M40.0061 31.9491C41.6964 30.2588 41.6964 27.5081 40.0061 25.8178C38.3118 24.1235 35.568 24.1229 33.8737 25.8178C32.1788 27.5121 32.1788 30.2542 33.8737 31.9491C35.564 33.6394 38.3152 33.64 40.0061 31.9491ZM35.9174 27.8616C36.4826 27.297 37.3972 27.297 37.9623 27.8616C38.5252 28.425 38.5252 29.3413 37.9623 29.9048C37.3983 30.4682 36.4809 30.4688 35.9174 29.9048C35.3534 29.3413 35.3512 28.4278 35.9174 27.8616Z" fill="#C0AA70"/>
                                                                <path d="M33.8737 42.1689C32.1788 43.8638 32.1788 46.6071 33.8737 48.3019C35.568 49.9962 38.3112 49.9968 40.0061 48.3019C41.697 46.611 41.697 43.8598 40.0061 42.1689C38.3118 40.4752 35.568 40.4747 33.8737 42.1689ZM37.9623 46.2582C37.3972 46.8227 36.482 46.8227 35.9174 46.2582C35.3534 45.6942 35.3512 44.7795 35.9174 44.2133C36.4826 43.6481 37.3972 43.6487 37.9623 44.2133C38.5258 44.7767 38.5258 45.6942 37.9623 46.2582Z" fill="#C0AA70"/>
                                                                <path d="M25.3029 39.3878C25.4593 40.1714 26.2215 40.6779 27.0034 40.5215L47.4427 36.4328C48.2252 36.2764 48.7327 35.5148 48.5764 34.7323C48.42 33.9492 47.6584 33.4422 46.8759 33.5986L26.4366 37.6873C25.6535 37.8437 25.1459 38.6053 25.3029 39.3878Z" fill="#C0AA70"/>
                                                                <path d="M43.9388 8.17578C43.5555 8.17578 43.1879 8.32765 42.9169 8.59865L27.7429 23.7727C27.1783 24.3373 27.1783 25.2525 27.7429 25.8171C28.3074 26.3816 29.2226 26.3816 29.7866 25.8171L43.9388 11.6649L62.3338 30.0604L29.8865 62.5077L11.491 44.1127L21.611 33.9927C22.1756 33.4287 22.1756 32.5135 21.611 31.9489C21.0464 31.3849 20.1313 31.3849 19.5667 31.9489L8.42538 43.0908C7.86081 43.6548 7.86081 44.57 8.42538 45.1346L28.8647 65.5739C29.4292 66.1385 30.3439 66.1385 30.9084 65.5739L65.4 31.0823C65.9645 30.5177 65.9645 29.6025 65.4 29.038L44.9607 8.59865C44.6897 8.32765 44.3221 8.17578 43.9388 8.17578Z" fill="#C0AA70"/>
                                                                <path d="M71.5312 0.424003L65.3277 6.62699C61.7082 3.89388 56.71 3.84928 53.121 6.51408L48.0399 1.28554C48.0348 1.28046 48.0303 1.27595 48.0252 1.27087C46.3394 -0.414956 43.5978 -0.433022 41.8916 1.27312L1.26995 42.0699C-0.424337 43.7642 -0.424901 46.508 1.26995 48.2029L7.00264 53.935C5.72218 57.5997 6.64583 61.7544 9.44555 64.553C12.2447 67.3533 16.3994 68.2763 20.0641 66.997L25.7968 72.7291C27.491 74.4234 30.236 74.4229 31.9269 72.7314L72.7281 32.1051C74.423 30.4103 74.423 27.6681 72.7281 25.9739C72.723 25.9688 72.7185 25.9643 72.7134 25.9592L67.4855 20.8791C70.1407 17.3144 70.1305 12.314 67.372 8.67132L73.575 2.46833C74.1396 1.90375 74.1396 0.988578 73.575 0.424003C73.0104 -0.140572 72.0958 -0.140572 71.5312 0.424003ZM64.4808 19.9453C64.2076 20.2191 64.0551 20.5906 64.0574 20.9779C64.0602 21.3647 64.2183 21.7345 64.4955 22.0038L70.69 28.0238C71.2506 28.5907 71.2444 29.5008 70.6861 30.0586L29.8854 70.6848C29.3214 71.2488 28.404 71.2488 27.8405 70.6848L21.4303 64.2752C21.1537 63.998 20.7833 63.8518 20.4085 63.8518C20.2007 63.8518 19.9912 63.8964 19.7948 63.9884C17.0154 65.2926 13.6776 64.6981 11.4899 62.5086C9.30046 60.3209 8.70596 56.9837 10.0101 54.2043C10.2687 53.6527 10.1547 52.9989 9.72389 52.5682L3.31427 46.1585C2.75026 45.5945 2.75026 44.6777 3.31597 44.1114L43.9382 3.31463C44.5005 2.75288 45.4095 2.74949 45.9752 3.30842L51.9947 9.50294C52.5344 10.0585 53.4586 10.1127 54.0537 9.51818C56.5277 7.04308 60.4018 6.77886 63.2557 8.69898L61.1357 10.819C59.5239 10.0511 57.5332 10.3329 56.2008 11.6653C54.5104 13.3562 54.5104 16.1073 56.2008 17.7977C57.8951 19.492 60.6389 19.4925 62.3337 17.7977C63.6966 16.4348 63.9354 14.4356 63.1817 12.861L65.3011 10.7416C67.2066 13.5622 66.987 17.4397 64.4808 19.9453ZM60.2894 13.709C60.8534 14.273 60.8557 15.1876 60.2894 15.7539C59.7248 16.3185 58.8097 16.3185 58.2451 15.7539C57.6811 15.1899 57.6811 14.2725 58.2445 13.709C58.8085 13.1461 59.726 13.145 60.2894 13.709Z" fill="#C0AA70"/>
                                                            </g>
                                                            <defs>
                                                                <clipPath id="clip0">
                                                                    <rect width="74" height="74" fill="white"/>
                                                                </clipPath>
                                                            </defs>
                                                        </svg>
                                                    +e.head
                                                        +e.name.small 
                                                    +e.main
                                                        +e.text
                                                            span  Накопленными бонусами участник программы может оплатить до 15% от стоимости любых товаров. Вы можете использовать как все бонусы, так и часть из них.
                                        .item
                                            +b.block.border
                                                +b.reviews
                                                    +e.avatar
                                                        <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <g clip-path="url(#clip0)">
                                                                <path d="M44.3337 22.167H39.667V20.3834C41.1379 19.0617 42.0003 17.1535 42.0003 15.167C42.0003 13.0712 41.0718 11.103 39.4528 9.76661C37.8343 8.4302 35.7083 7.89528 33.6171 8.30026C30.8935 8.82715 28.6935 11.0152 28.1432 13.7451C27.6414 16.2362 28.4765 18.7273 30.3337 20.3844V22.167H25.667C23.737 22.167 22.167 23.737 22.167 25.667V38.5003C22.167 39.1446 22.6894 39.667 23.3337 39.667H46.667C47.3113 39.667 47.8337 39.1446 47.8337 38.5003V25.667C47.8337 23.7369 46.2636 22.167 44.3337 22.167ZM45.5003 37.3336H24.5003V25.667C24.5003 25.0238 25.0239 24.5003 25.667 24.5003H31.5003C32.1446 24.5003 32.667 23.9779 32.667 23.3336V19.8336C32.667 19.4667 32.4943 19.1215 32.2016 18.901C30.7462 17.8067 30.0677 16.0077 30.4311 14.2065C30.7962 12.3932 32.2546 10.9406 34.0598 10.5914C35.4862 10.3168 36.8722 10.6626 37.9677 11.5662C39.0478 12.4577 39.667 13.7702 39.667 15.167C39.667 16.6253 38.9686 18.0215 37.799 18.901C37.5062 19.1215 37.3337 19.4667 37.3337 19.8336V23.3336C37.3337 23.9779 37.856 24.5003 38.5003 24.5003H44.3337C44.9768 24.5003 45.5003 25.0238 45.5003 25.667V37.3336Z" fill="#C0AA70"/>
                                                                <path d="M14.4654 23.5688C14.1725 23.7893 14 24.1344 14 24.5014V28.0014C14 28.6456 14.5224 29.168 15.1667 29.168H19.8333V26.8347H16.3333V25.0512C17.8042 23.7295 18.6667 21.8212 18.6667 19.8347C18.6667 17.7389 17.7381 15.7708 16.1191 14.4343C14.5006 13.0979 12.3747 12.5636 10.2834 12.968C7.55985 13.4949 5.35981 15.683 4.80958 18.4128C4.30777 20.9039 5.14281 23.3951 7 25.0522V26.8347H3.5C1.57004 26.8347 0 28.4047 0 30.3347V38.5014C0 39.1456 0.522375 39.668 1.16667 39.668H19.8333V37.3347H2.33333V30.3347C2.33333 29.6916 2.85688 29.168 3.5 29.168H8.16667C8.81096 29.168 9.33333 28.6456 9.33333 28.0014V24.5014C9.33333 24.1344 9.16067 23.7893 8.86798 23.5688C7.41256 22.4744 6.734 20.6754 7.09742 18.8742C7.46258 17.0609 8.92092 15.6083 10.7262 15.2592C12.1538 14.984 13.5392 15.3303 14.6341 16.2339C15.7141 17.1254 16.3333 18.4379 16.3333 19.8347C16.3333 21.293 15.6349 22.6892 14.4654 23.5688Z" fill="#C0AA70"/>
                                                                <path d="M66.5003 26.8342H63.0003V25.0517C64.8574 23.3946 65.6926 20.9035 65.1907 18.4124C64.6405 15.6825 62.4405 13.4944 59.7163 12.9675C57.6296 12.5641 55.4991 13.098 53.8812 14.4339C52.2622 15.7701 51.3337 17.7385 51.3337 19.8342C51.3337 21.8206 52.1961 23.729 53.667 25.0507V26.8342H50.167V29.1676H54.8337C55.478 29.1676 56.0003 28.6452 56.0003 28.0009V24.5009C56.0003 24.134 55.8277 23.7888 55.535 23.5683C54.3654 22.6888 53.667 21.2926 53.667 19.8342C53.667 18.4374 54.2862 17.1249 55.3662 16.2335C56.4612 15.33 57.8454 14.9831 59.2736 15.2587C61.0794 15.608 62.5377 17.0605 62.9029 18.8738C63.2663 20.6751 62.5879 22.4741 61.1323 23.5683C60.8395 23.7888 60.667 24.134 60.667 24.5009V28.0009C60.667 28.6452 61.1894 29.1676 61.8337 29.1676H66.5003C67.1435 29.1676 67.667 29.6911 67.667 30.3342V37.3342H50.167V39.6676H68.8337C69.478 39.6676 70.0003 39.1452 70.0003 38.5009V30.3342C70.0003 28.4041 68.4303 26.8342 66.5003 26.8342Z" fill="#C0AA70"/>
                                                                <path d="M63.0001 44.3333V42H35.0001C34.3558 42 33.8334 42.5224 33.8334 43.1667C33.8334 46.383 36.4504 49 39.6668 49H43.1668V50.3035L35.056 51.3174L25.0846 49.1015L22.9916 47.0085C20.6069 44.6238 16.7265 44.6238 14.3418 47.0085C13.8861 47.4642 13.8861 48.2026 14.3418 48.6583L22.5085 56.825C22.6202 56.9367 22.7535 57.0249 22.8999 57.0835L34.5665 61.7502C34.7049 61.8055 34.8519 61.8333 35.0001 61.8333C35.064 61.8333 35.1283 61.8282 35.192 61.8174L49.0964 59.5H63.0001V57.1667H53.6668V44.3333H63.0001ZM51.3334 57.1667H49.0001C48.9358 57.1667 48.8719 57.1718 48.8082 57.1826L35.1306 59.4624L23.9893 55.0059L16.9471 47.9631C18.3684 47.2385 20.1543 47.4709 21.3421 48.6582L23.6754 50.9915C23.832 51.1487 24.0304 51.2575 24.2474 51.3053L34.7474 53.6387C34.8783 53.6677 35.0134 53.6751 35.1451 53.6575L44.4784 52.4908C45.0623 52.4179 45.5004 51.9218 45.5004 51.3332V47.8332C45.5004 47.1889 44.978 46.6665 44.3337 46.6665H39.6671C38.146 46.6665 36.8484 45.6912 36.367 44.3332H51.3334V57.1667Z" fill="#C0AA70"/>
                                                            </g>
                                                            <defs>
                                                                <clipPath id="clip0">
                                                                    <rect width="70" height="70" fill="white"/>
                                                                </clipPath>
                                                            </defs>
                                                        </svg>

                                                    +e.head
                                                        +e.name.small 
                                                    +e.main
                                                        +e.text
                                                            span  Бонусные баллы можно передавать своим родственникам и близким, а так же доверенным людям, что действительно выгодно!
                                        .item
                                            +b.block.border
                                                +b.reviews
                                                    +e.avatar
                                                        <svg width="69" height="79" viewBox="0 0 69 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M51.5882 70.548C51.1288 69.843 50.1851 69.6436 49.48 70.1029C44.6071 73.277 38.9427 74.9548 33.0998 74.9548C16.5286 74.9548 3.04692 61.4732 3.04692 44.9021C3.04692 38.8846 4.81855 33.079 8.17062 28.1122C8.64137 27.4148 8.45749 26.4679 7.76005 25.9972C7.06276 25.5264 6.11563 25.7103 5.64488 26.4078C1.95216 31.8797 0 38.2752 0 44.9023C0 53.7435 3.44302 62.0555 9.69469 68.3073C15.9464 74.5592 24.2585 78.002 33.0998 78.002C39.5347 78.002 45.7739 76.1535 51.1432 72.6562C51.8484 72.197 52.0476 71.2531 51.5882 70.548Z" fill="#C0AA70"></path>
                                                            <path d="M56.7058 65.9279C56.105 65.3387 55.1405 65.3483 54.5512 65.949L54.5006 66.0004C53.908 66.5976 53.9118 67.5622 54.509 68.155C54.8062 68.4498 55.1941 68.597 55.5821 68.597C55.9738 68.597 56.3658 68.4467 56.6636 68.1465L56.7267 68.0825C57.316 67.4816 57.3067 66.5171 56.7058 65.9279Z" fill="#C0AA70"></path>
                                                            <path d="M62.8773 24.9678C63.1749 25.2654 63.5647 25.4141 63.9546 25.4141C64.3444 25.4141 64.7343 25.2652 65.0318 24.9678L67.5696 22.4301C69.3778 20.6216 69.3778 17.679 67.5696 15.8705L62.1309 10.4317C61.2547 9.55575 60.0899 9.07327 58.8512 9.07327C57.6121 9.07327 56.4474 9.55575 55.5714 10.4317L53.0337 12.9694C52.748 13.255 52.5874 13.6426 52.5874 14.0466C52.5874 14.4506 52.748 14.8382 53.0337 15.1238L53.7541 15.8443L51.9287 17.6697C48.0577 14.9811 43.6802 13.1679 39.0421 12.332V9.7506H42.3938C43.2351 9.7506 43.9173 9.06855 43.9173 8.22714V1.52346C43.9173 0.682053 43.2351 0 42.3938 0H23.8068C22.9656 0 22.2834 0.682053 22.2834 1.52346V8.22699C22.2834 9.0684 22.9656 9.75045 23.8068 9.75045H27.1586V12.335C22.7982 13.1257 18.6371 14.7862 14.9008 17.25C14.1984 17.7133 14.0044 18.6581 14.4676 19.3607C14.931 20.0632 15.876 20.2571 16.5783 19.7939C21.4842 16.5588 27.1975 14.8489 33.1004 14.8489C49.6715 14.8489 63.1532 28.3304 63.1532 44.9017C63.1532 50.5213 61.5929 56.0012 58.6409 60.7483C58.1967 61.4628 58.4156 62.4022 59.1302 62.8467C59.3807 63.0024 59.6586 63.0766 59.9333 63.0766C60.4424 63.0766 60.9398 62.8216 61.2285 62.3574C64.4813 57.1267 66.2003 51.0906 66.2003 44.9017C66.2003 38.0746 64.1456 31.5643 60.3318 26.0733L62.1572 24.2479L62.8773 24.9678ZM35.9948 11.9282C35.0375 11.8458 34.0724 11.8018 33.1001 11.8018C32.1298 11.8016 31.1642 11.8446 30.2054 11.9279V9.7506H35.9947V11.9282H35.9948ZM28.6821 6.70353H25.3303V3.04707H40.8702V6.70353H37.5184H28.6821ZM58.4625 23.6327C57.8438 22.8976 57.1926 22.1839 56.505 21.4963C55.8176 20.8089 55.1039 20.1577 54.3687 19.5388L55.9084 17.9991L60.0021 22.0928L58.4625 23.6327ZM56.986 14.7674C56.9857 14.7671 56.9854 14.7669 56.9851 14.7666L56.2655 14.0471L57.7261 12.5867C58.0267 12.2861 58.4261 12.1206 58.8512 12.1206C59.276 12.1206 59.6756 12.2861 59.9762 12.5868L65.415 18.0254C66.0353 18.6458 66.0353 19.6554 65.415 20.2759L63.9546 21.7361L63.2364 21.018C63.2357 21.0172 63.2351 21.0164 63.2343 21.0157L56.986 14.7674Z" fill="#C0AA70"></path>
                                                            <path d="M33.0996 23.3086C32.2584 23.3086 31.5762 23.9906 31.5762 24.8321V28.1838C31.5762 29.0252 32.2582 29.7073 33.0996 29.7073C33.9409 29.7073 34.6231 29.0252 34.6231 28.1838V24.8321C34.6231 23.9906 33.9409 23.3086 33.0996 23.3086Z" fill="#C0AA70"></path>
                                                            <path d="M48.3681 29.6319C48.0848 29.3486 47.6919 29.1855 47.291 29.1855C46.8904 29.1855 46.4973 29.3486 46.2141 29.6319C45.9307 29.9153 45.7676 30.3083 45.7676 30.709C45.7676 31.1112 45.9306 31.5027 46.2141 31.7861C46.4973 32.0695 46.8904 32.2325 47.291 32.2325C47.6919 32.2325 48.0848 32.0695 48.3681 31.7861C48.6515 31.5027 48.8145 31.1097 48.8145 30.709C48.8145 30.3083 48.6516 29.9153 48.3681 29.6319Z" fill="#C0AA70"></path>
                                                            <path d="M53.1701 43.3789H49.8184C48.9771 43.3789 48.2949 44.061 48.2949 44.9024C48.2949 45.7438 48.9771 46.4258 49.8184 46.4258H53.1701C54.0114 46.4258 54.6936 45.7438 54.6936 44.9024C54.6936 44.061 54.0114 43.3789 53.1701 43.3789Z" fill="#C0AA70"></path>
                                                            <path d="M48.3681 58.0167C48.0848 57.7333 47.6919 57.5703 47.291 57.5703C46.8904 57.5703 46.4973 57.7333 46.2141 58.0167C45.9307 58.3 45.7676 58.6931 45.7676 59.0938C45.7676 59.496 45.9306 59.889 46.2141 60.1709C46.4973 60.4557 46.8904 60.6172 47.291 60.6172C47.6919 60.6172 48.0848 60.4557 48.3681 60.1709C48.6515 59.8875 48.8145 59.496 48.8145 59.0938C48.8145 58.6931 48.6516 58.3016 48.3681 58.0167Z" fill="#C0AA70"></path>
                                                            <path d="M33.0996 60.0957C32.2584 60.0957 31.5762 60.7778 31.5762 61.6192V64.9709C31.5762 65.8123 32.2584 66.4944 33.0996 66.4944C33.9409 66.4944 34.6231 65.8123 34.6231 64.9709V61.6192C34.6231 60.7779 33.9409 60.0957 33.0996 60.0957Z" fill="#C0AA70"></path>
                                                            <path d="M19.9853 58.0167C19.7018 57.7333 19.3089 57.5703 18.9082 57.5703C18.5076 57.5703 18.1145 57.7333 17.8313 58.0167C17.5479 58.3 17.3848 58.6931 17.3848 59.0938C17.3848 59.496 17.5478 59.8875 17.8313 60.1709C18.1145 60.4557 18.5076 60.6172 18.9082 60.6172C19.3089 60.6172 19.7019 60.4557 19.9853 60.1709C20.2687 59.8875 20.4317 59.496 20.4317 59.0938C20.4318 58.6931 20.2688 58.3 19.9853 58.0167Z" fill="#C0AA70"></path>
                                                            <path d="M16.3811 43.3789H13.0293C12.1881 43.3789 11.5059 44.061 11.5059 44.9024C11.5059 45.7438 12.1881 46.4258 13.0293 46.4258H16.3811C17.2223 46.4258 17.9045 45.7438 17.9045 44.9024C17.9047 44.061 17.2225 43.3789 16.3811 43.3789Z" fill="#C0AA70"></path>
                                                            <path d="M19.9853 29.6319C19.7019 29.3486 19.3089 29.1855 18.9082 29.1855C18.5076 29.1855 18.1145 29.3486 17.8313 29.6319C17.5479 29.9153 17.3848 30.3083 17.3848 30.709C17.3848 31.1097 17.5478 31.5027 17.8313 31.7861C18.1145 32.0695 18.5076 32.2325 18.9082 32.2325C19.3089 32.2325 19.7019 32.0695 19.9853 31.7861C20.2687 31.5027 20.4317 31.1097 20.4317 30.709C20.4317 30.3083 20.2688 29.9153 19.9853 29.6319Z" fill="#C0AA70"></path>
                                                            <path d="M44.9947 33.0067C44.4987 32.5109 43.7284 32.4176 43.1285 32.7808L30.5526 40.3941C30.4166 40.4714 30.2261 40.5834 30.0973 40.6848C28.7808 41.625 27.9199 43.1643 27.9199 44.9016C27.9199 47.7581 30.2437 50.0817 33.0998 50.0817C34.8305 50.0817 36.3648 49.2276 37.3058 47.9196C37.4184 47.7802 37.5234 47.5972 37.6088 47.4466L45.2206 34.873C45.5838 34.2732 45.4904 33.5028 44.9947 33.0067ZM34.9839 45.8987L34.8581 46.1065C34.4732 46.6664 33.829 47.0348 33.0997 47.0348C31.9237 47.0348 30.9668 46.078 30.9668 44.9019C30.9668 44.1725 31.3354 43.5279 31.8955 43.1431L32.1021 43.018C32.4 42.8596 32.7392 42.7691 33.0995 42.7691C34.2756 42.7691 35.2325 43.7258 35.2325 44.9021C35.2325 45.2619 35.142 45.601 34.9839 45.8987ZM37.3646 41.9665C37.0058 41.4469 36.5549 40.9959 36.0351 40.6371L39.4042 38.5975L37.3646 41.9665Z" fill="#C0AA70"></path>
                                                            <path d="M33.1 18.5098C18.5474 18.5098 6.70801 30.3489 6.70801 44.9014C6.70801 59.454 18.5473 71.2933 33.1 71.2933C47.6527 71.2933 59.4918 59.454 59.4918 44.9014C59.4918 30.3489 47.6525 18.5098 33.1 18.5098ZM33.1 68.2462C20.2277 68.2462 9.75508 57.7738 9.75508 44.9014C9.75508 32.0291 20.2275 21.5567 33.1 21.5567C45.9723 21.5567 56.4447 32.0291 56.4447 44.9014C56.4447 57.7738 45.9723 68.2462 33.1 68.2462Z" fill="#C0AA70"></path>
                                                            <path d="M11.9423 21.4034C11.6588 21.12 11.2659 20.957 10.8653 20.957C10.4646 20.957 10.0715 21.12 9.78832 21.4034C9.50496 21.6868 9.3418 22.0798 9.3418 22.4805C9.3418 22.8827 9.50481 23.2742 9.78832 23.5576C10.0715 23.8409 10.4646 24.004 10.8653 24.004C11.2659 24.004 11.659 23.8409 11.9423 23.5576C12.2257 23.2742 12.3887 22.8812 12.3887 22.4805C12.3887 22.08 12.2259 21.6869 11.9423 21.4034Z" fill="#C0AA70"></path>
                                                        </svg>

                                                    +e.head
                                                        +e.name.small 
                                                    +e.main
                                                        +e.text На то, чтобы потратить накопленные бонусы, у вас есть 12 месяцев с момента их последнего начисления. По истечении этого срока все накопленные бонусы аннулируются.
                .ui.modal.modal_theme_order.basket--clear
                    i.modal__close.close
                    .s-modal--header.center
                        .s-modal--text Вы действительно хотите полностью очистить страницу и удалить все позиции ?
                        .s-modal--button Да
                        .s-modal--button.clearHide Нет
                +footer({promo: false})
        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
