include ../components/libs/bemto/bemto
include ../components/libs/jade-injected/jade-injected
include ../components/block-container/block-container
include ../components/head/head.pug
include ../components/header/header
include ../components/icon/icon
include ../components/breadcrumbs/breadcrumbs
include ../components/card/card
include ../components/pagination/pagination
include ../components/banner/banner
include ../components/headline/headline.pug
include ../components/filter-sidebar/filter-sidebar
include ../components/footer/footer.pug

doctype html
html(class="no-js", lang="ru")
    head
        +head({
            title: 'Интернет магазин Итальянской мебели в Москве'
        })
    body.page
        | %=symbols=%
        +header()
        .main
            +b.section
                +e.box
                    +b.head-conent.inner
                        +headline({text: 'Новый каталог лицевой фурнитуры KERRON 2019! '})
                            +breadcrumbs({elements: ['Главная', 'Новости' , 'Новый каталог лицевой фурнитуры KERRON 2019! ']})
                    +b.iner-content
                            .item
                                .text
                                    p 
                                        img(class="image" src="http://www.neo-mebel.ru/content/italy/ducale_laccato/gostinaia/big_file_model_533_1200max.jpg" style="width: 550px;height: 353px;" align="right" hspace="10" border="0")
                                        | «Компания  "Elit" создана в 2007 году,  специализируясь на поставках и продаже итальянской мебели в России. Уделяя особое  внимание качеству продукции, разнообразию  товаров и хорошему сервису,  компания очень быстро превратилась в известный бренд  по поставке элитной мебели. Сегодня, мы  так же  активно  занимаемся продвижением нашего бренда,  развиваем партнерские отношения с  итальянскими производителями мебели, текстиля, освещения и других интерьерных решений.  Нашими партнерами являются  производители Италии, Испании, Португалии, Германии, Великобритании, каждый из которых по своему уникален по стилю и ассортименту.
                                    p В основном, при выборе шкафа, многие в первую очередь обращают внимание на его внешний вид, стараясь выбрать самое красивое изделие. Затем, выбрав понравившуюся модель, приобретают ее. При этом упускают из вида очень важные моменты. Например, приобретая бытовую технику, каждый старается узнать про нее все: страну-производителя, модель, срок ее эксплуатации и т.д. Эти условия должны быть применимы и к подбору мебели. Поскольку итальянская мебель приобретается не на один год, то к ее выбору должен быть тщательный подход. Ведь никто не захочет стать обладателем красивого и недорогого шкафа, ящики и дверцы которого, через месяц станут не пригодными к эксплуатации.
                                    p Надежность такого изделия еще зависит и от используемой фурнитуры. Все составные части конструкции шкафа, благодаря которым функционируют его передвижные элементы – петли, стяжки, направляющие и прочие детали, должны быть крепкими и надежными. Самой хорошей считается фурнитура, компании-изготовители которой работают на рынке не один год. Благодаря таким производителям, мебель имеет не только красивый внешний вид, но и сможет прослужить долгие годы. На сегодняшний день такую фурнитуру используют итальянские производители мебели.
                                    p Перед приобретением шкафа, необходимо определиться с тем, какие дверцы будут на него установлены. Фасады бывают распашные, раздвижные и складные. Например, распашной вариант считается самым простым. Но при этом нужно обращать внимание на петли, на которых держатся двери, поскольку на них и приходятся самые большие нагрузки. Правда, на первый взгляд, не каждый сможет определить их надежность, поэтому и надо выбирать по фирме - изготовителю.
                                    p Что касается раздвижной системы, то она представлена двумя видами. В первом варианте, дверь передвигается по нижней направляющей и поддерживается сверху. Вся нагрузка в данном случае направлена на нижние элементы. Такая система применяется для невысоких и нетяжелых дверей. Касательно второго варианта, то здесь дверцы подвешиваются сверху, а снизу поддерживаются. При их эксплуатации нагрузка распределяется на верхние элементы. Данная система может использоваться для установки тяжелых массивных фасадов и зеркальных дверей. Такими вариантами сегодня представлена мебель Италии, из ассортимента которой Вы можете выбрать наиболее устраивающий Вас вариант.
                

                                            
                                            
                            
                       



                +footer({promo: false})
        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
