include ../components/libs/bemto/bemto
include ../components/libs/jade-injected/jade-injected
include ../components/block-container/block-container
include ../components/head/head.pug
include ../components/header/header
include ../components/icon/icon
include ../components/breadcrumbs/breadcrumbs
include ../components/card/card
include ../components/pagination/pagination
include ../components/banner/banner
include ../components/headline/headline.pug
include ../components/filter-sidebar/filter-sidebar
include ../components/footer/footer.pug

doctype html
html(class="no-js", lang="ru")
    head
        +head({
            title: 'Интернет магазин Итальянской мебели в Москве'
        })
    body.page
        | %=symbols=%
        +header()
        .main
            +b.section
                +e.box
                    +b.head-conent.inner
                        +headline({text: 'Фотогалерея'})
                            +breadcrumbs({elements: ['Главная', 'Фотогалерея']})
                    +b.iner-content
                        .iner-content-level--2
                            +b.grid-categories.photo--grid
                                +e.tab.ui.tab(data-tab="classic").active
                                    .grid-categories__col.grid-categories__col_size--1
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/classic_pic_1.jpg);")
                                    .grid-categories__col.grid-categories__col_size--1
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_2.jpg);")
                                    .grid-categories__col.grid-categories__col_size--1
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/classic_pic_3.jpg);")
                                    .grid-categories__col.grid-categories__col_size--2
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_4.jpg);")

                                    .grid-categories__col.grid-categories__col_size--2
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_5.jpg);")
                                    .grid-categories__col.grid-categories__col_size--1
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_6.jpg);")
                                    .grid-categories__col.grid-categories__col_size--2
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/classic_pic_7.jpg);")

                                    .grid-categories__col.grid-categories__col_size--1
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_8.jpg);")
                                    .grid-categories__col.grid-categories__col_size--2
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/classic_pic_9.jpg);")
                                    .grid-categories__col.grid-categories__col_size--1
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/classic_pic_10.jpg);")
                                    .grid-categories__col.grid-categories__col_size--1
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_pic_11.jpg);")

                                    .grid-categories__col.grid-categories__col_size--1
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/classic_pic_12.jpg);")
                                    .grid-categories__col.grid-categories__col_size--1
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_13.jpg);")
                                    .grid-categories__col.grid-categories__col_size--2
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_14.jpg);")
                                    .grid-categories__col.grid-categories__col_size--1
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_15.jpg);")


                                
                                    .grid-categories__col.grid-categories__col_size--1
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/classic_pic_1.jpg);")
                                    .grid-categories__col.grid-categories__col_size--1
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_2.jpg);")
                                    .grid-categories__col.grid-categories__col_size--1
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/classic_pic_3.jpg);")
                                    .grid-categories__col.grid-categories__col_size--2
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_4.jpg);")

                                    .grid-categories__col.grid-categories__col_size--2
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_5.jpg);")
                                    .grid-categories__col.grid-categories__col_size--1
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_6.jpg);")
                                    .grid-categories__col.grid-categories__col_size--2
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/classic_pic_7.jpg);")

                                    .grid-categories__col.grid-categories__col_size--1
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_8.jpg);")
                                    .grid-categories__col.grid-categories__col_size--2
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/classic_pic_9.jpg);")
                                    .grid-categories__col.grid-categories__col_size--1
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/classic_pic_10.jpg);")
                                    .grid-categories__col.grid-categories__col_size--1
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_pic_11.jpg);")

                                    .grid-categories__col.grid-categories__col_size--1
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/classic_pic_12.jpg);")
                                    .grid-categories__col.grid-categories__col_size--1
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_13.jpg);")
                                    .grid-categories__col.grid-categories__col_size--2
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_14.jpg);")
                                    .grid-categories__col.grid-categories__col_size--1
                                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_15.jpg);")


                                
                        .catalog__pagination
                                +pagination({})    
                +footer({})
        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
