include ../components/libs/bemto/bemto
include ../components/libs/jade-injected/jade-injected
include ../components/block-container/block-container
include ../components/head/head.pug
include ../components/header/header
include ../components/icon/icon
include ../components/breadcrumbs/breadcrumbs
include ../components/card/card
include ../components/pagination/pagination
include ../components/banner/banner
include ../components/headline/headline.pug
include ../components/filter-sidebar/filter-sidebar
include ../components/footer/footer.pug

doctype html
html(class="no-js", lang="ru")
    head
        +head({
            title: 'Интернет магазин Итальянской мебели в Москве'
        })
    body.page
        | %=symbols=%
        +header()
        .main
            +b.section
                +e.box
                    +b.head-conent.inner
                        +headline({text: 'Реставрация'})
                            +breadcrumbs({elements: ['Главная', 'Реставрация']})
                    +b.iner-content
                        .iner-content-level--2
                            .text
                                p В целях улучшения сервиса, наша компания  решила  расширить сферу услуг, которую мы можем предлагать своим клиентам – это реставрация мебели. Профессиональные реставраторы готовы выполнить любую работу по улучшению интерьера жилых и офисных помещений, создать уют в мельчайшей детали, восстановить утерянную красоту вещей. 
                        .block--item.grid.flex.item-4.tablet.reviews--item
                            .item
                                +b.block.border
                                    +b.reviews
                                        +e.avatar
                                            <svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M54.1562 0.25H3.84375C1.85899 0.25 0.25 1.85899 0.25 3.84375V44.573C0.25 46.5577 1.85899 48.1667 3.84375 48.1667H32.5938V45.7709H3.84375C3.18216 45.7709 2.6458 45.2345 2.6458 44.573V3.84375C2.6458 3.18216 3.18216 2.6458 3.84375 2.6458H54.1562C54.8178 2.6458 55.3542 3.18216 55.3542 3.84375V44.573C55.3542 45.2345 54.8178 45.7709 54.1562 45.7709H51.7605V48.1667H54.1562C56.141 48.1667 57.75 46.5577 57.75 44.573V3.84375C57.75 1.85899 56.141 0.25 54.1562 0.25Z" fill="#C0AA70"/>
                                                <path d="M50.5617 12.2318C47.9154 12.2318 45.77 10.0865 45.77 7.44014C45.77 6.77855 45.2337 6.24219 44.5721 6.24219H13.4264C12.7648 6.24219 12.2284 6.77855 12.2284 7.44014C12.2284 10.0865 10.0831 12.2318 7.43672 12.2318C6.77514 12.2318 6.23877 12.7682 6.23877 13.4298V34.9923C6.23877 35.6539 6.77514 36.1903 7.43672 36.1903C10.0831 36.1903 12.2284 38.3356 12.2284 40.982C12.2284 41.6435 12.7648 42.1799 13.4264 42.1799H28.9993V39.7839H14.5248C14.0096 36.7699 11.6487 34.409 8.63468 33.8937V14.5283C11.6487 14.013 14.0096 11.6521 14.5248 8.6381H43.4737C43.989 11.6521 46.3499 14.013 49.3639 14.5283V24.2111H51.7597V13.4298C51.7597 12.7681 51.2233 12.2318 50.5617 12.2318Z" fill="#C0AA70"/>
                                                <path d="M42.1763 25.4062C36.222 25.4062 31.395 30.2332 31.395 36.1875C31.395 42.1418 36.222 46.9687 42.1763 46.9687C48.1276 46.9614 52.9502 42.1389 52.9575 36.1875C52.9575 30.2332 48.1306 25.4062 42.1763 25.4062ZM42.1763 44.5729C37.5452 44.5729 33.7908 40.8187 33.7908 36.1875C33.7908 31.5564 37.545 27.802 42.1763 27.802C46.8052 27.8073 50.5564 31.5585 50.5617 36.1875C50.5616 40.8186 46.8074 44.5729 42.1763 44.5729Z" fill="#C0AA70"/>
                                                <path d="M46.9681 43.375V54.0592L42.9251 50.8248C42.4875 50.4745 41.8654 50.4745 41.4278 50.8248L37.3848 54.0592V43.375H34.989V56.552C34.9889 56.8244 35.0816 57.0886 35.2518 57.3012C35.6653 57.8177 36.4192 57.9012 36.9356 57.4877L42.1765 53.295L47.4174 57.4877C47.6299 57.6576 47.894 57.7501 48.1662 57.75C48.8278 57.75 49.3641 57.2136 49.3641 56.552V43.375H46.9681Z" fill="#C0AA70"/>
                                                <path d="M40.9785 12.2266H17.0202C16.3586 12.2266 15.8223 12.7629 15.8223 13.4245V18.2161C15.8223 18.8777 16.3586 19.4141 17.0202 19.4141H40.9785C41.6401 19.4141 42.1765 18.8777 42.1765 18.2161V13.4244C42.1765 12.7628 41.6401 12.2266 40.9785 12.2266ZM39.7806 17.0182H18.2181V14.6224H39.7806V17.0182Z" fill="#C0AA70"/>
                                                <path d="M17.0202 23.0117H14.6244V25.4075H17.0202V23.0117Z" fill="#C0AA70"/>
                                                <path d="M21.8118 23.0117H19.416V25.4075H21.8118V23.0117Z" fill="#C0AA70"/>
                                                <path d="M28.9994 27.8047H14.6244V30.2005H28.9994V27.8047Z" fill="#C0AA70"/>
                                                <path d="M42.1764 30.1953C38.8685 30.1953 36.1869 32.8769 36.1869 36.1849C36.1869 39.4928 38.8685 42.1744 42.1764 42.1744C45.4828 42.1705 48.162 39.4911 48.166 36.1849C48.166 32.8769 45.4844 30.1953 42.1764 30.1953ZM42.1764 39.7786C40.1917 39.7786 38.5827 38.1696 38.5827 36.1849C38.5827 34.2001 40.1917 32.5911 42.1764 32.5911C44.1612 32.5911 45.7702 34.2001 45.7702 36.1849C45.7702 38.1696 44.1612 39.7786 42.1764 39.7786Z" fill="#C0AA70"/>
                                                <path d="M8.63518 39.7812H6.23938V42.1771H8.63518V39.7812Z" fill="#C0AA70"/>
                                                <path d="M51.7598 6.24219H49.364V8.63798H51.7598V6.24219Z" fill="#C0AA70"/>
                                                <path d="M8.63518 6.24219H6.23938V8.63798H8.63518V6.24219Z" fill="#C0AA70"/>
                                            </svg>
                                        +e.head
                                            +e.name.small профессионализм
                                        +e.main
                                            +e.text
                                                span Вы доверяете работу профессиональным реставраторам с большим опытом, многие из которых прошли обучение на фабриках в Италии и Испании.
                            .item
                                +b.block.border
                                    +b.reviews
                                        +e.avatar
                                            <svg width="62" height="72" viewBox="0 0 62 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M38.1661 24.9938C38.934 24.9938 39.5573 24.3717 39.5573 23.6053C39.5573 22.8389 38.934 22.2168 38.1661 22.2168C37.3966 22.2168 36.7749 22.8389 36.7749 23.6053C36.7749 24.3717 37.3966 24.9938 38.1661 24.9938Z" fill="#C0AA70"/>
                                                <path d="M24.2535 24.9938C25.0214 24.9938 25.6447 24.3717 25.6447 23.6053C25.6447 22.8389 25.0214 22.2168 24.2535 22.2168C23.484 22.2168 22.8623 22.8389 22.8623 23.6053C22.8623 24.3717 23.484 24.9938 24.2535 24.9938Z" fill="#C0AA70"/>
                                                <path d="M27.4909 34.5392C28.6587 35.0887 29.9103 35.3675 31.2096 35.3675C32.4808 35.3675 33.7079 35.1001 34.8572 34.5729C35.5556 34.2523 35.861 33.4279 35.5403 32.7309C35.2192 32.0345 34.3931 31.7291 33.6948 32.0497C32.9128 32.4082 32.0764 32.5905 31.2096 32.5905C30.3233 32.5905 29.4712 32.4012 28.6772 32.0275C27.9821 31.7004 27.1528 31.9976 26.8257 32.6913C26.498 33.385 26.7958 34.2122 27.4909 34.5392Z" fill="#C0AA70"/>
                                                <path d="M61.891 56.3411C61.891 48.706 53.1786 42.7181 45.7106 42.4344L41.9005 39.0179C46.541 35.6389 49.3576 30.2086 49.3576 24.4376V15.2735C49.3576 6.85192 42.4706 0 34.0054 0H28.4405C19.9867 0 13.1861 6.82752 13.1861 15.2735V24.4376C13.1861 30.1988 15.9652 35.6188 20.5454 38.9919L16.7065 42.4344C9.25478 42.7175 0.526001 48.6903 0.526001 56.3411V69.7027C0.526001 70.4696 1.14879 71.0912 1.91722 71.0912H60.4998C61.2683 71.0912 61.891 70.4696 61.891 69.7027V56.3411ZM28.1269 61.9271H34.2825L35.7411 68.3142H26.6259L28.1269 61.9271ZM34.4021 59.1501H28.0389L26.9716 55.8313L31.2093 53.7165L35.5379 55.8774L34.4021 59.1501ZM31.2088 49.5445L26.3743 41.8259C27.9443 42.2614 29.5758 42.4876 31.2229 42.4876C32.8543 42.4876 34.4738 42.2657 36.0357 41.8372L31.2088 49.5445ZM33.2 51.6056L39.8794 40.9385L43.4819 44.1689L38.898 54.4498L33.2 51.6056ZM28.4405 2.777H34.0054C40.9364 2.777 46.5752 8.38253 46.5752 15.2735V16.4212L43.9629 12.6668C43.7265 12.3267 43.3499 12.1098 42.9363 12.0751C42.5222 12.0404 42.1157 12.1917 41.8255 12.4878C38.9974 15.3744 35.7232 16.662 31.2093 16.662C26.696 16.662 23.4213 15.3744 20.591 12.4878C20.2997 12.1901 19.8894 12.0393 19.4748 12.0756C19.0596 12.112 18.6824 12.3322 18.4477 12.676L15.9685 16.3019V15.2735C15.9685 8.38253 21.5632 2.777 28.4405 2.777ZM15.9685 24.4376V21.2283L19.8324 15.5772C22.9278 18.2051 26.5857 19.439 31.2093 19.439C35.8378 19.439 39.4985 18.2024 42.5945 15.5691L46.5752 21.2902V24.4376C46.5752 32.7529 39.7653 39.7111 31.2229 39.7111C22.7083 39.7111 15.9685 32.7746 15.9685 24.4376ZM22.5376 40.9391L29.2182 51.6056L23.5191 54.4498L18.9351 44.1689L22.5376 40.9391ZM3.30843 56.3411C3.30843 50.6211 10.2754 45.6822 16.3636 45.2331L21.5687 56.9057C21.723 57.2518 22.0127 57.5202 22.3702 57.6482C22.7278 57.7762 23.1218 57.7524 23.462 57.5832L24.4533 57.088L25.582 60.5961L23.768 68.3142H3.30843V56.3411ZM59.1086 68.3142H38.5947L36.8372 60.6172L38.0475 57.1297L38.955 57.5832C39.2974 57.754 39.6925 57.7752 40.0468 57.6482C40.4044 57.5202 40.6941 57.2518 40.8484 56.9057L46.0535 45.2331C52.1417 45.6827 59.1086 50.6211 59.1086 56.3411V68.3142Z" fill="#C0AA70"/>
                                                <path d="M49.2956 61.9238H43.7307C42.9623 61.9238 42.3395 62.5454 42.3395 63.3123C42.3395 64.0793 42.9623 64.7008 43.7307 64.7008H49.2956C50.064 64.7008 50.6868 64.0793 50.6868 63.3123C50.6868 62.5454 50.064 61.9238 49.2956 61.9238Z" fill="#C0AA70"/>
                                                <path d="M54.7835 61.9238C55.5514 61.9238 56.1748 62.5459 56.1748 63.3123C56.1748 64.0787 55.5514 64.7008 54.7835 64.7008C54.0157 64.7008 53.3923 64.0787 53.3923 63.3123C53.3923 62.5459 54.0157 61.9238 54.7835 61.9238Z" fill="#C0AA70"/>
                                            </svg>
                                        +e.head
                                            +e.name.small ответственность
                                        +e.main
                                            +e.text
                                                span Мы реставрируем мебель только своим клиентам и не можем это сделать плохо, Ваша мебель будет в надежных руках.
                            .item
                                +b.block.border
                                    +b.reviews
                                        +e.avatar
                                            <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0)">
                                                    <path d="M59.0006 40.0689C57.2596 40.0689 55.6057 40.7508 54.358 41.984C53.1103 43.2317 52.4139 44.8566 52.4139 46.5976C52.4139 48.3386 53.0958 49.9635 54.358 51.2113C55.6202 52.4445 57.2596 53.1263 59.0006 53.1263C62.5696 53.1263 65.4713 50.1957 65.4713 46.5976C65.4713 42.9996 62.5696 40.0689 59.0006 40.0689ZM59.0006 50.2247C56.9985 50.2247 55.3155 48.5708 55.3155 46.5976C55.3155 44.6245 56.9985 42.9706 59.0006 42.9706C60.9737 42.9706 62.5696 44.5955 62.5696 46.5976C62.5696 48.5998 60.9737 50.2247 59.0006 50.2247ZM60.6836 18.3211C60.4224 18.0744 60.0742 17.9438 59.7115 17.9438H52.2688C51.4708 17.9438 50.818 18.5967 50.818 19.3947V31.2914C50.818 32.0894 51.4708 32.7423 52.2688 32.7423H64.0785C64.8764 32.7423 65.5293 32.0894 65.5293 31.2914V23.3264C65.5293 22.9202 65.3552 22.5285 65.0505 22.2528L60.6836 18.3211ZM62.6277 29.8406H53.7196V20.831H59.1457L62.6277 23.9648V29.8406ZM23.5715 40.0689C21.8305 40.0689 20.1765 40.7508 18.9288 41.984C17.6811 43.2317 16.9847 44.8566 16.9847 46.5976C16.9847 48.3386 17.6666 49.9635 18.9288 51.2113C20.191 52.4445 21.8305 53.1263 23.5715 53.1263C27.1405 53.1263 30.0421 50.1957 30.0421 46.5976C30.0421 42.9996 27.1405 40.0689 23.5715 40.0689ZM23.5715 50.2247C21.5693 50.2247 19.8864 48.5708 19.8864 46.5976C19.8864 44.6245 21.5693 42.9706 23.5715 42.9706C25.5446 42.9706 27.1405 44.5955 27.1405 46.5976C27.1405 48.5998 25.5446 50.2247 23.5715 50.2247ZM13.8945 41.8534H10.9783V37.9942C10.9783 37.1963 10.3254 36.5434 9.52749 36.5434C8.72954 36.5434 8.07666 37.1963 8.07666 37.9942V43.3043C8.07666 44.1022 8.72954 44.7551 9.52749 44.7551H13.8945C14.6924 44.7551 15.3453 44.1022 15.3453 43.3043C15.3453 42.5063 14.6924 41.8534 13.8945 41.8534ZM21.2502 33.9464C21.2502 33.1485 20.5973 32.4956 19.7993 32.4956H2.20082C1.40287 32.4956 0.75 33.1485 0.75 33.9464C0.75 34.7444 1.40287 35.3973 2.20082 35.3973H19.7993C20.5973 35.3973 21.2502 34.7589 21.2502 33.9464ZM5.146 28.709L22.7445 28.8105C23.5425 28.8105 24.1953 28.1722 24.2098 27.3742C24.2243 26.5617 23.5715 25.9089 22.7735 25.9089L5.17501 25.8073C5.16051 25.8073 5.16051 25.8073 5.16051 25.8073C4.36255 25.8073 3.70968 26.4457 3.70968 27.2436C3.69517 28.0561 4.34804 28.709 5.146 28.709ZM8.10568 22.1222H25.7042C26.5021 22.1222 27.155 21.4693 27.155 20.6714C27.155 19.8734 26.5021 19.2206 25.7042 19.2206H8.10568C7.30773 19.2206 6.65486 19.8734 6.65486 20.6714C6.65486 21.4693 7.30773 22.1222 8.10568 22.1222ZM71.4632 20.1636L61.0753 11.5602C60.8141 11.3426 60.495 11.2265 60.1468 11.2265H47.9308V6.00356C47.9308 5.20561 47.2779 4.55273 46.48 4.55273H9.52749C8.72954 4.55273 8.07666 5.20561 8.07666 6.00356V16.6236C8.07666 17.4216 8.72954 18.0744 9.52749 18.0744C10.3254 18.0744 10.9783 17.4216 10.9783 16.6236V7.45438H45.0437V41.8534H33.1469C32.349 41.8534 31.6961 42.5063 31.6961 43.3043C31.6961 44.1022 32.349 44.7551 33.1469 44.7551H50.8615C51.6594 44.7551 52.3123 44.1022 52.3123 43.3043C52.3123 42.5063 51.6594 41.8534 50.8615 41.8534H47.9453V14.1282H59.639L69.0984 21.9626L68.9968 41.8244H67.4879C66.69 41.8244 66.0371 42.4773 66.0371 43.2752C66.0371 44.0732 66.69 44.7261 67.4879 44.7261H70.4331C71.2311 44.7261 71.8839 44.0877 71.8839 43.2898L72 21.2952C71.9855 20.86 71.7969 20.4393 71.4632 20.1636Z" fill="#C0AA70"/>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0">
                                                            <rect width="71.25" height="71.25" fill="white" transform="translate(0.75)"/>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        +e.head
                                            +e.name.small логистика
                                        +e.main
                                            +e.text
                                                span Предоставим консультацию на дому, заберем, привезем  и грамотно сопроводим предметы мебели на всех этапах.
                            .item
                                +b.block.border
                                    +b.reviews
                                        +e.avatar
                                            <svg width="67" height="69" viewBox="0 0 67 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M55.6642 29.3687C55.6642 26.6463 53.5177 24.4318 50.879 24.4318H42.0849C44.2215 21.9539 45.6179 19.1324 45.8876 16.6012C46.0524 15.0551 45.5894 13.5205 44.6171 12.3906C43.7284 11.3579 42.5132 10.7823 41.1952 10.7697C41.1799 10.7695 41.1646 10.7695 41.1495 10.7695C39.8747 10.7695 38.6782 11.2761 37.7752 12.1992C36.8721 13.1224 36.3723 14.3524 36.3664 15.665C36.32 15.9523 35.83 16.9431 34.6311 18.1195C33.6495 19.0829 31.9539 20.4072 29.4503 21.2458C28.4687 21.5747 27.5716 22.1802 26.784 23.0455C26.3707 23.4993 25.7518 24.1261 24.9855 24.7553C24.6095 24.5497 24.1819 24.4321 23.7275 24.4321H15.3753C13.8881 24.4321 12.6782 25.6804 12.6782 27.2148V50.1943C12.6782 51.7288 13.8881 52.977 15.3753 52.977H23.7275C24.7414 52.977 25.6255 52.3962 26.0862 51.5408H47.3989C49.6537 51.5408 51.488 49.6483 51.488 47.3219C51.488 46.5398 51.2808 45.8068 50.9197 45.178C52.0946 44.4359 52.88 43.0993 52.88 41.577C52.88 40.7948 52.6728 40.0618 52.3118 39.433C53.4866 38.691 54.2721 37.3544 54.2721 35.832C54.2721 34.9516 54.0093 34.1333 53.5605 33.4561C54.8291 32.5671 55.6642 31.0666 55.6642 29.3687ZM50.879 31.6128H50.183C49.4623 31.6128 48.8779 32.2156 48.8779 32.9593C48.8779 33.7028 49.4621 34.3058 50.183 34.3058C50.9985 34.3058 51.6621 34.9904 51.6621 35.8319C51.6621 36.6733 50.9985 37.3579 50.183 37.3579H48.791C48.0703 37.3579 47.4859 37.9607 47.4859 38.7044C47.4859 39.448 48.0701 40.0509 48.791 40.0509C49.6065 40.0509 50.2701 40.7355 50.2701 41.577C50.2701 42.4184 49.6065 43.103 48.791 43.103H47.3989C46.6783 43.103 46.0939 43.7058 46.0939 44.4495C46.0939 45.1931 46.6781 45.796 47.3989 45.796C48.2145 45.796 48.8781 46.4806 48.8781 47.3221C48.8781 48.1636 48.2145 48.8482 47.3989 48.8482H26.4246V35.8324C26.4246 35.0888 25.8403 34.4858 25.1195 34.4858C24.3987 34.4858 23.8144 35.0886 23.8144 35.8324V50.1945C23.8144 50.244 23.7755 50.2842 23.7275 50.2842H15.3753C15.3273 50.2842 15.2884 50.244 15.2884 50.1945V27.2143C15.2884 27.1648 15.3273 27.1246 15.3753 27.1246H23.7275C23.7755 27.1246 23.8144 27.1648 23.8144 27.2143V30.0869C23.8144 30.8304 24.3987 31.4334 25.1195 31.4334C25.8403 31.4334 26.4246 30.8306 26.4246 30.0869V27.2143C26.4246 27.149 26.4194 27.085 26.415 27.0208C27.3935 26.2393 28.176 25.4493 28.6865 24.8886C29.1695 24.3577 29.6976 23.9939 30.2562 23.807C33.328 22.7781 35.3952 21.1214 36.5883 19.9128C38.0837 18.398 38.9763 16.8188 38.9763 15.6883C38.9763 15.0911 39.202 14.5313 39.6121 14.112C40.0272 13.6876 40.577 13.4634 41.171 13.4625C41.9025 13.4696 42.387 13.8557 42.6649 14.1785C43.1412 14.732 43.3756 15.5277 43.2928 16.3069C43.0077 18.9823 40.934 22.2893 38.0096 24.7318C37.58 25.0907 37.4161 25.69 37.6005 26.2276C37.785 26.7652 38.2779 27.1246 38.8307 27.1246H50.8787C52.0781 27.1246 53.0537 28.1312 53.0537 29.3687C53.0537 30.6062 52.0783 31.6128 50.879 31.6128Z" fill="#C0AA70"/>
                                                <path d="M19.5517 44.5215C18.831 44.5215 18.2397 45.1315 18.2397 45.875C18.2397 46.6186 18.831 47.2286 19.5517 47.2286C20.2723 47.2286 20.8636 46.6186 20.8636 45.875C20.8637 45.1317 20.2725 44.5215 19.5517 44.5215Z" fill="#C0AA70"/>
                                                <path d="M57.9934 11.1421C57.6686 10.7773 57.3318 10.4145 56.9918 10.0638C56.6517 9.71314 56.3002 9.36547 55.9466 9.03039C55.4158 8.52753 54.5903 8.56381 54.1027 9.11169C53.6153 9.65939 53.6505 10.5113 54.1815 11.0141C54.5076 11.3232 54.8322 11.644 55.1461 11.9678C55.4597 12.2914 55.7708 12.6265 56.0705 12.9631C56.3279 13.2523 56.6795 13.3989 57.0323 13.3989C57.3476 13.3989 57.6639 13.2817 57.9144 13.0444C58.4455 12.5417 58.4808 11.6898 57.9934 11.1421Z" fill="#C0AA70"/>
                                                <path d="M51.312 5.36C45.0186 1.22323 37.4415 -0.615225 29.9771 0.182065C22.4034 0.991616 15.2618 4.50225 9.86765 10.0675C3.93123 16.1924 0.474898 24.3289 0.135321 32.9781C-0.20214 41.5765 2.55811 49.9246 7.90783 56.4843C8.16585 56.8008 8.53506 56.9638 8.90719 56.9638C9.20379 56.9638 9.50202 56.8601 9.7467 56.6478C10.2981 56.1689 10.369 55.3196 9.90509 54.7507C4.97568 48.7061 2.43227 41.0127 2.7432 33.0873C3.05608 25.1157 6.24153 17.6168 11.713 11.9718C16.6846 6.84222 23.2665 3.60653 30.2459 2.86064C37.1278 2.12499 44.1108 3.8195 49.9095 7.63111C50.5175 8.03068 51.3239 7.84626 51.7112 7.21911C52.0986 6.5918 51.9197 5.75957 51.312 5.36Z" fill="#C0AA70"/>
                                                <path d="M61.5543 15.926C61.1671 15.2987 60.36 15.1142 59.7524 15.5138C59.1444 15.9134 58.9658 16.7458 59.3531 17.3728C63.0474 23.3557 64.6895 30.5607 63.9768 37.6606C63.2539 44.8616 60.1177 51.6522 55.1462 56.7819C49.6747 62.427 42.4065 65.7137 34.6804 66.0365C27.0002 66.3587 19.542 63.7333 13.6835 58.6476C13.1322 58.1688 12.309 58.242 11.8448 58.811C11.3807 59.3799 11.4517 60.2293 12.0032 60.7081C18.0136 65.9257 25.5718 68.7561 33.4207 68.7559C33.8747 68.7559 34.3305 68.7463 34.7863 68.7274C43.1695 68.3772 51.0554 64.8111 56.992 58.6862C62.3862 53.1208 65.789 45.7524 66.5733 37.9382C67.3462 30.2364 65.5638 22.419 61.5543 15.926Z" fill="#C0AA70"/>
                                            </svg>
                                        +e.head
                                            +e.name.small качество работы
                                        +e.main
                                            +e.text
                                                span Большой опыт работы с мебелью, позволяет нам  гарантировать качественное и безупречное выполнение заказа.
                +footer({promo: true})
        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
