include ../components/libs/bemto/bemto
include ../components/libs/jade-injected/jade-injected
include ../components/block-container/block-container
include ../components/head/head.pug
include ../components/header/header
include ../components/icon/icon
include ../components/breadcrumbs/breadcrumbs
include ../components/card/card
include ../components/pagination/pagination
include ../components/banner/banner
include ../components/headline/headline.pug
include ../components/filter-sidebar/filter-sidebar
include ../components/footer/footer.pug

doctype html
html(class="no-js", lang="ru")
    head
        +head({
            title: 'Интернет магазин Итальянской мебели в Москве'
        })
    body.page
        | %=symbols=%
        +header()
        .main
            +b.section
                +e.box
                    +b.head-conent.inner
                        +headline({text: 'Хранение'})
                            +breadcrumbs({elements: ['Главная', 'Хранение']})
                    +b.iner-content
                        .iner-content-level--2
                            .text
                                p Для улучшения сервиса, наша компания «Elit» решила помочь своим клиентам в организации хранения мебели и предметов интерьера, которые были приобретены у нас. Это очень удобно для тех, кто делает ремонт или планирует переезд. Ваши товары будут храниться в хороших условиях и под нашей ответственностью, до их востребования.
                        .block--item.grid.flex.item-5.reviews--item.tablet
                            .item
                                +b.block.border
                                    +b.reviews
                                        +e.avatar
                                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M48.4787 39.4737H47.6457V24.0833C48.2351 23.3561 48.683 22.5132 48.9501 21.6241C49.5583 19.5994 48.9698 17.4096 47.4143 15.909L43.0801 11.7283V10.8268C43.0801 10.2768 42.6342 9.83076 42.0841 9.83076C41.534 9.83076 41.0881 10.2768 41.0881 10.8268V11.7513L36.7777 15.9091C36.713 15.9716 36.651 16.0366 36.5891 16.102L35.1583 14.722V13.8811C35.1583 13.3311 34.7124 12.8851 34.1623 12.8851C33.6122 12.8851 33.1663 13.3311 33.1663 13.8811V14.7058L31.4133 16.3965L27.1483 5.63428V2.80947C27.1483 2.25947 26.7024 1.81348 26.1523 1.81348H25.9958V0.996094C25.9958 0.445996 25.5499 0 24.9997 0C24.4496 0 24.0037 0.445996 24.0037 0.995996V1.81338H23.8472C23.2971 1.81338 22.8512 2.25937 22.8512 2.80937V5.63418L18.5862 16.3965L16.8332 14.7056V13.8809C16.8332 13.3309 16.3873 12.8849 15.8372 12.8849C15.2871 12.8849 14.8412 13.3309 14.8412 13.8809V14.7218L13.4109 16.1015C13.3492 16.0361 13.2866 15.9714 13.222 15.9091L8.91152 11.7513V10.8267C8.91152 10.2767 8.46562 9.83066 7.91553 9.83066C7.36543 9.83066 6.91953 10.2767 6.91953 10.8267V11.7282L2.58535 15.9089C1.02979 17.4094 0.441211 19.5993 1.04951 21.624C1.3166 22.5131 1.76455 23.3559 2.35391 24.0832V39.4736H1.5209C0.970801 39.4736 0.524902 39.9196 0.524902 40.4696V49.0039C0.524902 49.5539 0.970801 49.9999 1.5209 49.9999H48.4788C49.0289 49.9999 49.4748 49.5539 49.4748 49.0039V40.4697C49.4748 39.9197 49.0288 39.4737 48.4787 39.4737ZM38.1606 17.3428L42.096 13.5468L46.0313 17.3428C47.0476 18.3231 47.4351 19.7439 47.0424 21.0511C46.8661 21.6377 46.5804 22.1971 46.2067 22.6909H41.2354C41.1578 21.2807 40.5451 19.9179 39.4723 18.883L38.0223 17.4843C38.0673 17.436 38.1131 17.3886 38.1606 17.3428ZM45.6538 24.6829V39.4737H39.7037V27.0572C40.2741 26.3533 40.7102 25.5406 40.98 24.6828H45.6538V24.6829ZM34.1539 16.5206L38.0893 20.3166C39.1056 21.297 39.493 22.7178 39.1003 24.0248C38.924 24.6116 38.6383 25.1709 38.2645 25.6647H30.0431C29.6694 25.1709 29.3836 24.6115 29.2074 24.0249C28.8147 22.7179 29.2022 21.2969 30.2185 20.3166L34.1539 16.5206ZM37.7117 27.6568V39.4737H30.5961V27.6568H37.7117ZM24.8432 3.80547H25.1563V4.82852H24.8432V3.80547ZM24.5238 6.82051H25.4756L29.863 17.8918L28.8355 18.8829C28.8109 18.9067 28.7872 18.9312 28.7632 18.9552H21.2363C21.2122 18.9311 21.1885 18.9066 21.1639 18.8829L20.1364 17.8918L24.5238 6.82051ZM22.5462 20.9473H27.4533C27.0018 22.0997 26.9334 23.3787 27.2996 24.598C27.5667 25.4871 28.0146 26.3299 28.604 27.0572V39.4736H21.3954V27.0572C21.9848 26.33 22.4326 25.4871 22.6998 24.598C23.0661 23.3788 22.9978 22.0998 22.5462 20.9473ZM15.8456 16.5206L19.781 20.3166C20.7973 21.297 21.1847 22.7178 20.792 24.0249C20.6157 24.6115 20.33 25.1709 19.9563 25.6647H11.7349C11.3612 25.1709 11.0754 24.6116 10.8991 24.0249C10.5064 22.7179 10.8939 21.2969 11.9102 20.3166L15.8456 16.5206ZM19.4034 27.6568V39.4737H12.2878V27.6568H19.4034ZM3.96816 17.3428L7.90352 13.5468L11.8389 17.3428C11.8864 17.3886 11.9325 17.4358 11.9776 17.484L10.5273 18.883C9.45449 19.9179 8.8418 21.2807 8.76426 22.6909H3.79277C3.41914 22.1971 3.1333 21.6377 2.95713 21.0511C2.56445 19.7439 2.95195 18.3231 3.96816 17.3428ZM10.2957 27.0572V39.4736H4.3457V24.6829H9.01934C9.28916 25.5405 9.72529 26.3533 10.2957 27.0572ZM10.1505 48.008H8.18428V46.4973C8.18428 45.9553 8.62529 45.5142 9.16738 45.5142C9.70947 45.5142 10.1505 45.9552 10.1505 46.4973V48.008ZM20.7054 48.008H18.7394V46.4973C18.7394 45.9553 19.1803 45.5142 19.7224 45.5142C20.2645 45.5142 20.7055 45.9552 20.7055 46.4973V48.008H20.7054ZM31.2603 48.008H29.2942V46.4973C29.2942 45.9553 29.7352 45.5142 30.2773 45.5142C30.8193 45.5142 31.2604 45.9552 31.2604 46.4973V48.008H31.2603ZM41.8152 48.008H39.8491V46.4973C39.8491 45.9553 40.2901 45.5142 40.8322 45.5142C41.3742 45.5142 41.8153 45.9552 41.8153 46.4973V48.008H41.8152ZM47.4827 48.008H43.8071V46.4973C43.8071 44.8567 42.4726 43.5222 40.832 43.5222C39.1915 43.5222 37.8569 44.8567 37.8569 46.4973V48.008H33.2521V46.4973C33.2521 44.8567 31.9176 43.5222 30.2771 43.5222C28.6367 43.5222 27.3021 44.8567 27.3021 46.4973V48.008H22.6973V46.4973C22.6973 44.8567 21.3627 43.5222 19.7222 43.5222C18.0817 43.5222 16.7472 44.8567 16.7472 46.4973V48.008H12.1424V46.4973C12.1424 44.8567 10.8078 43.5222 9.16728 43.5222C7.52676 43.5222 6.19219 44.8567 6.19219 46.4973V48.008H2.5168V41.4658H47.4827V48.008Z" fill="#C0AA70"/>
                                            </svg>
                                        +e.head
                                            +e.name.small Доступность
                                        +e.main
                                            +e.text
                                                span Наш склад находится на территории Москвы.
                            .item
                                +b.block.border
                                    +b.reviews
                                        +e.avatar
                                            <svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0)">
                                                    <path d="M32.8558 27.2408C31.1476 23.2627 27.1833 20.589 22.7675 20.589C20.3001 20.589 18.0208 21.4072 16.1869 22.7873V6.55505C16.1869 3.43319 13.7303 0.587891 10.0773 0.587891C6.7862 0.587891 4.1092 3.26489 4.1092 6.55505V24.2298C1.47616 26.1752 -0.0470447 29.2299 0.000852668 32.5354C0.0812283 38.0482 4.60326 42.5332 10.1502 42.5332C36.9258 42.5332 35.2579 42.5368 35.4839 42.5253C39.628 42.3659 42.9999 38.9622 42.9999 34.7105C42.9999 29.4713 37.9037 25.6697 32.8558 27.2408ZM16.8994 39.9631C19.1319 37.957 20.2969 35.24 20.2969 32.3848C20.2969 29.6383 19.2054 27.0686 17.3013 25.1858C18.7714 23.9221 20.6823 23.159 22.7675 23.159C26.5212 23.159 29.8481 25.6799 30.8599 29.2899C31.0803 30.0808 31.9789 30.4647 32.7033 30.0763C36.1863 28.2122 40.4301 30.7491 40.4301 34.7105C40.4301 37.5459 38.2115 39.8509 35.3793 39.9582C35.3793 39.9582 36.017 39.9631 16.8994 39.9631ZM2.57091 32.4987C2.53219 29.8492 3.84544 27.4157 6.0848 25.9892C6.45551 25.7537 6.67925 25.3449 6.67925 24.9056V6.55505C6.67925 4.82385 8.01185 3.15762 10.2197 3.15762C12.093 3.15762 13.6168 4.6818 13.6168 6.55505V12.328H11.4336V6.81881C11.4336 6.10954 10.8578 5.53411 10.1485 5.53411C9.43827 5.53411 8.8635 6.10954 8.8635 6.81881V27.311C6.59592 27.8841 4.91361 29.9417 4.91361 32.3848C4.91361 35.2767 7.26846 37.6194 10.1485 37.6194C13.0345 37.6194 15.3825 35.2708 15.3825 32.3848C15.3825 29.9273 13.6805 27.8753 11.4336 27.311V20.0024H13.6168V24.9056C13.6168 25.3452 13.8406 25.7537 14.2123 25.9892C16.4218 27.4025 17.7271 29.7899 17.7271 32.3848C17.7271 36.5513 14.3438 40.015 10.0396 39.9625C5.97851 39.906 2.62832 36.5526 2.57091 32.4987ZM12.8127 32.3848C12.8127 33.8496 11.6209 35.0497 10.1485 35.0497C8.67979 35.0497 7.48366 33.8539 7.48366 32.3848C7.48366 30.9095 8.68471 29.7206 10.1485 29.7206C11.6225 29.7206 12.8127 30.9213 12.8127 32.3848ZM13.6168 17.4323H11.4336V14.8977H13.6168V17.4323Z" fill="#C0AA70"/>
                                                    <path d="M25.3656 16.6065H27.3881C28.8976 16.6065 30.1258 15.3779 30.1258 13.8685V13.2416C30.1258 12.5323 29.5504 11.9565 28.8408 11.9565C28.1309 11.9565 27.5561 12.5323 27.5561 13.2416V13.8685C27.5561 13.961 27.4807 14.0365 27.3881 14.0365H25.3656C25.2731 14.0365 25.1977 13.961 25.1977 13.8685V8.12246C25.1977 8.02995 25.2731 7.95449 25.3656 7.95449H27.3881C27.4807 7.95449 27.5561 8.02995 27.5561 8.12246V8.53024C27.5561 9.24017 28.1309 9.81527 28.8408 9.81527C29.5504 9.81527 30.1258 9.24017 30.1258 8.53024V8.12246C30.1258 6.61304 28.8976 5.38477 27.3881 5.38477H25.3656C23.8562 5.38477 22.6279 6.61304 22.6279 8.12246V13.8685C22.6279 15.3779 23.8562 16.6065 25.3656 16.6065Z" fill="#C0AA70"/>
                                                    <path d="M21.7476 5.31379C21.7476 6.31012 20.9399 7.11781 19.9435 7.11781C18.9472 7.11781 18.1395 6.31012 18.1395 5.31379C18.1395 4.31746 18.9472 3.50977 19.9435 3.50977C20.9399 3.50977 21.7476 4.31746 21.7476 5.31379Z" fill="#C0AA70"/>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0">
                                                        <rect width="43" height="43" fill="white"/>
                                                    </clipPath>
                                                </defs>
                                            </svg>

                                        +e.head
                                            +e.name.small Безопасность
                                        +e.main
                                            +e.text
                                                span Созданы все условия для безопасного хранения Вашей мебели.
                            .item
                                +b.block.border
                                    +b.reviews
                                        +e.avatar
                                            <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="18" cy="17" r="56" fill="white"/>
                                                    <path d="M1.2012 41.0798H25.3845C25.7289 41.0798 26.0567 40.9318 26.2848 40.6737C26.5128 40.4157 26.6191 40.0722 26.5766 39.7306L24.7001 24.6396C24.3275 21.6595 21.7156 19.3789 18.6607 19.3789H16.9935L18.0939 5.24475C18.0943 5.23912 18.0946 5.23381 18.0952 5.22818C18.2866 2.23619 15.817 -0.112353 12.9499 0.0925345C10.3023 0.281469 8.3022 2.58935 8.49176 5.24475L9.59221 19.3786H7.84487C4.82255 19.3786 2.26036 21.6405 1.8853 24.6403L0.00909771 39.7303C-0.033131 40.0722 0.07291 40.4157 0.300945 40.6737C0.52898 40.9318 0.8568 41.0798 1.2012 41.0798ZM10.8875 5.06614C10.7928 3.73953 11.7947 2.5834 13.121 2.48862C14.5345 2.38728 15.7923 3.53371 15.6982 5.06739L14.584 19.3789H12.0021L10.8875 5.06614ZM4.2692 24.9377C4.49441 23.1382 6.03154 21.7812 7.84487 21.7812H18.6607C20.4894 21.7812 22.095 23.1676 22.3162 24.9368L24.0247 38.6774H2.56096L4.2692 24.9377Z" fill="#C0AA70"/>
                                                    <path d="M19.8524 25.2368C19.7779 24.6353 19.2665 24.1836 18.6603 24.1836H7.84503C7.23882 24.1836 6.72738 24.6353 6.65293 25.2368L5.45176 34.9263C5.37012 35.5844 5.83776 36.1844 6.4959 36.266C7.1553 36.348 7.75432 35.88 7.83565 35.2219L8.90638 26.5859H17.5989L18.6694 35.2219C18.7513 35.881 19.3516 36.3473 20.0091 36.266C20.6676 36.1844 21.1352 35.5844 21.0536 34.9263L19.8524 25.2368Z" fill="#C0AA70"/>
                                                    <path d="M25.3847 0.0800781C25.0253 0.0800781 24.6843 0.241173 24.4563 0.519257C24.2279 0.797341 24.1366 1.1627 24.2067 1.51554L26.5859 13.4913V15.7754C26.5859 17.3413 27.59 18.6764 28.9882 19.1722V37.4763C28.9882 39.4632 30.6048 41.0798 32.5917 41.0798C34.5787 41.0798 36.1952 39.4632 36.1952 37.4763V19.1722C37.5932 18.6764 38.5976 17.3413 38.5976 15.7754V13.4913L40.9768 1.51554C41.1244 0.772942 40.5554 0.0800781 39.7988 0.0800781H25.3847ZM32.5917 38.6775C31.9292 38.6775 31.3906 38.1388 31.3906 37.4763V19.3789H33.7929V37.4763C33.7929 38.1388 33.2539 38.6775 32.5917 38.6775ZM36.1952 15.7754C36.1952 16.4376 35.6563 16.9766 34.9941 16.9766H30.1894C29.5272 16.9766 28.9882 16.4376 28.9882 15.7754V14.5742H36.1952V15.7754ZM36.4105 12.1719H28.773L26.848 2.48242H28.9882V6.08594C28.9882 6.7494 29.5259 7.28712 30.1894 7.28712C30.8528 7.28712 31.3906 6.7494 31.3906 6.08594V2.48242H33.7929V6.08594C33.7929 6.7494 34.3306 7.28712 34.9941 7.28712C35.6572 7.28712 36.1952 6.7494 36.1952 6.08594V2.48242H38.3355L36.4105 12.1719Z" fill="#C0AA70"/>
                                            </svg>
                                        +e.head
                                            +e.name.small Комфорт 
                                        +e.main
                                            +e.text
                                                span Проводится регулярная уборка, что позволяет хранить мебель в должных условиях.
                            .item
                                +b.block.border
                                    +b.reviews
                                        +e.avatar
                                            <svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M50.3358 10.0129L25.8517 0.97877C25.6247 0.895098 25.3753 0.895098 25.1484 0.97877L0.664295 10.0129L0.664096 10.0137C0.58391 10.0434 0.506813 10.0827 0.435094 10.1326C0.162463 10.3226 0 10.6339 0 10.9661V40.0327C0 40.4582 0.265061 40.8386 0.664195 40.9859L25.1483 50.0201C25.2624 50.0622 25.3815 50.0828 25.4999 50.0828C25.6195 50.0828 25.7386 50.0611 25.8513 50.0195L25.8517 50.0201L50.3358 40.9859C50.7349 40.8386 51 40.4583 51 40.0327V10.9661C51 10.5406 50.7349 10.1603 50.3358 10.0129ZM24.4841 47.6092L2.03183 39.3247V12.4239L6.6035 14.1109V26.4204C6.6035 26.8458 6.86856 27.2262 7.2677 27.3736L18.2398 31.4222C18.3539 31.4643 18.473 31.4849 18.5914 31.4849C18.7964 31.4849 18.9996 31.4229 19.1724 31.3025C19.4449 31.1125 19.6074 30.8012 19.6074 30.469V18.9091L24.4839 20.7084V47.6092H24.4841ZM17.5757 18.1593V29.011L8.63544 25.7122V14.8604L17.5757 18.1593ZM10.5543 13.3946L18.5916 10.4289L26.6289 13.3946L18.5916 16.3603L10.5543 13.3946ZM25.5 18.9174L21.5155 17.4472L29.9155 14.3476C30.3146 14.2003 30.5797 13.82 30.5797 13.3945C30.5797 12.9689 30.3146 12.5886 29.9155 12.4413L18.9433 8.3928C18.7163 8.30912 18.467 8.30912 18.2399 8.3928L7.60846 12.3158L3.95081 10.9661L25.5 3.01488L47.0492 10.9662L25.5 18.9174ZM48.9682 39.3247L26.516 47.6091V20.7084L48.9682 12.4239V39.3247Z" fill="#C0AA70"/>
                                            </svg>
                                        +e.head
                                            +e.name.small Сервис
                                        +e.main
                                            +e.text
                                                span Мы предоставляем услугу бесплатной погрузки мебели в случае ее самовывоза.
                            .item
                                +b.block.border
                                    +b.reviews
                                        +e.avatar
                                            <svg width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M46.6005 32.0555C45.2077 32.0555 43.8845 32.601 42.8864 33.5876C41.8882 34.5858 41.3311 35.8857 41.3311 37.2785C41.3311 38.6713 41.8766 39.9712 42.8864 40.9694C43.8961 41.956 45.2077 42.5015 46.6005 42.5015C49.4557 42.5015 51.777 40.1569 51.777 37.2785C51.777 34.4001 49.4557 32.0555 46.6005 32.0555ZM46.6005 40.1801C44.9988 40.1801 43.6524 38.857 43.6524 37.2785C43.6524 35.7 44.9988 34.3769 46.6005 34.3769C48.179 34.3769 49.4557 35.6768 49.4557 37.2785C49.4557 38.8802 48.179 40.1801 46.6005 40.1801ZM47.9469 14.6572C47.7379 14.4599 47.4594 14.3555 47.1692 14.3555H41.215C40.5767 14.3555 40.0544 14.8778 40.0544 15.5161V25.0335C40.0544 25.6719 40.5767 26.1942 41.215 26.1942H50.6628C51.3012 26.1942 51.8235 25.6719 51.8235 25.0335V18.6615C51.8235 18.3365 51.6842 18.0232 51.4404 17.8026L47.9469 14.6572ZM49.5021 23.8729H42.3757V16.6652H46.7166L49.5021 19.1722V23.8729ZM18.2572 32.0555C16.8644 32.0555 15.5412 32.601 14.5431 33.5876C13.5449 34.5858 12.9878 35.8857 12.9878 37.2785C12.9878 38.6713 13.5333 39.9712 14.5431 40.9694C15.5528 41.956 16.8644 42.5015 18.2572 42.5015C21.1124 42.5015 23.4337 40.1569 23.4337 37.2785C23.4337 34.4001 21.1124 32.0555 18.2572 32.0555ZM18.2572 40.1801C16.6555 40.1801 15.3091 38.857 15.3091 37.2785C15.3091 35.7 16.6555 34.3769 18.2572 34.3769C19.8357 34.3769 21.1124 35.6768 21.1124 37.2785C21.1124 38.8802 19.8357 40.1801 18.2572 40.1801ZM10.5156 33.4831H8.18265V30.3958C8.18265 29.7574 7.66035 29.2351 7.02199 29.2351C6.38363 29.2351 5.86133 29.7574 5.86133 30.3958V34.6438C5.86133 35.2822 6.38363 35.8045 7.02199 35.8045H10.5156C11.1539 35.8045 11.6762 35.2822 11.6762 34.6438C11.6762 34.0054 11.1539 33.4831 10.5156 33.4831ZM16.4001 27.1575C16.4001 26.5192 15.8778 25.9969 15.2395 25.9969H1.16066C0.522297 25.9969 0 26.5192 0 27.1575C0 27.7959 0.522297 28.3182 1.16066 28.3182H15.2395C15.8778 28.3182 16.4001 27.8075 16.4001 27.1575ZM3.5168 22.9676L17.5956 23.0488C18.234 23.0488 18.7563 22.5381 18.7679 21.8998C18.7795 21.2498 18.2572 20.7275 17.6188 20.7275L3.54001 20.6462C3.52841 20.6462 3.52841 20.6462 3.52841 20.6462C2.89004 20.6462 2.36775 21.1569 2.36775 21.7953C2.35614 22.4453 2.87844 22.9676 3.5168 22.9676ZM5.88454 17.6982H19.9633C20.6017 17.6982 21.124 17.1759 21.124 16.5375C21.124 15.8991 20.6017 15.3768 19.9633 15.3768H5.88454C5.24618 15.3768 4.72389 15.8991 4.72389 16.5375C4.72389 17.1759 5.24618 17.6982 5.88454 17.6982ZM56.5706 16.1313L48.2602 9.24856C48.0513 9.07446 47.796 8.98161 47.5174 8.98161H37.7447V4.80324C37.7447 4.16488 37.2224 3.64258 36.584 3.64258H7.02199C6.38363 3.64258 5.86133 4.16488 5.86133 4.80324V13.2993C5.86133 13.9376 6.38363 14.4599 7.02199 14.4599C7.66035 14.4599 8.18265 13.9376 8.18265 13.2993V5.9639H35.4349V33.4831H25.9175C25.2792 33.4831 24.7569 34.0054 24.7569 34.6438C24.7569 35.2822 25.2792 35.8045 25.9175 35.8045H40.0892C40.7276 35.8045 41.2498 35.2822 41.2498 34.6438C41.2498 34.0054 40.7276 33.4831 40.0892 33.4831H37.7563V11.3029H47.1112L54.6787 17.5705L54.5974 33.4599H53.3903C52.752 33.4599 52.2297 33.9822 52.2297 34.6206C52.2297 35.2589 52.752 35.7812 53.3903 35.7812H55.7465C56.3848 35.7812 56.9071 35.2706 56.9071 34.6322L57 17.0366C56.9884 16.6884 56.8375 16.3518 56.5706 16.1313Z" fill="#C0AA70"/>
                                            </svg>
                                        +e.head
                                            +e.name.small Логистика
                                        +e.main
                                            +e.text
                                                span Мы доставим и соберем купленную и хранящуюся у нас мебель.
                        .reviews--item.noMargin
                +footer({promo: true})
        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
