include ../components/libs/bemto/bemto
include ../components/libs/jade-injected/jade-injected
include ../components/block-container/block-container
include ../components/head/head.pug
include ../components/header/header
include ../components/icon/icon
include ../components/breadcrumbs/breadcrumbs
include ../components/card/card
include ../components/pagination/pagination
include ../components/banner/banner
include ../components/headline/headline.pug
include ../components/filter-sidebar/filter-sidebar
include ../components/footer/footer.pug

doctype html
html(class="no-js", lang="ru")
    head
        +head({
            title: 'Интернет магазин Итальянской мебели в Москве'
        })
    body.page
        | %=symbols=%
        +header()
        .main
            +b.section
                +e.box
                    +b.head-conent.inner
                        +headline({text: 'Вакансии'})
                            +breadcrumbs({elements: ['Главная', 'Вакансии']})
                    +b.iner-content
                        .block--item.slider__list_vac.owl-carousel.slider
                            .item
                                +b.block.border
                                    +b.vacancies
                                        +e.wrap
                                            +e.head
                                                +e.date 19.02.2018
                                                +e.name Менеджер - дизайнер
                                            +e.main
                                                +e.item
                                                    b Тип занятости:
                                                    span Полная занятость
                                                +e.item
                                                    b Обязанности:
                                                    span Разгрузка, погрузка, упаковка Перемещение предметов по складу, набор по накладным, комплектация партий товара Проверка товара на качество Участие в проведении инвентаризации
                                                +e.item
                                                    b Требования:
                                                    span Желателен опыт работы с негабаритным товаром (мебель)
                                            +b.button_theme_light.VacanciesLink ОТКЛИКНУТЬСЯ
                            
                            .item
                                +b.block.border
                                    +b.vacancies
                                        +e.wrap
                                            +e.head
                                                +e.date 19.02.2018
                                                +e.name Менеджер - дизайнер
                                            +e.main
                                                +e.item
                                                    b Тип занятости:
                                                    span Полная занятость
                                                +e.item
                                                    b Обязанности:
                                                    span Разгрузка, погрузка, упаковка Перемещение предметов по складу, набор по накладным, комплектация партий товара Проверка товара на качество Участие в проведении инвентаризации
                                                +e.item
                                                    b Требования:
                                                    span Желателен опыт работы с негабаритным товаром (мебель)
                                            +b.button_theme_light.VacanciesLink ОТКЛИКНУТЬСЯ
                            .item
                                +b.block.border
                                    +b.vacancies
                                        +e.wrap
                                            +e.head
                                                +e.date 19.02.2018
                                                +e.name Менеджер - дизайнер
                                            +e.main
                                                +e.item
                                                    b Тип занятости:
                                                    span Полная занятость
                                                +e.item
                                                    b Обязанности:
                                                    span Разгрузка, погрузка, упаковка Перемещение предметов по складу, набор по накладным, комплектация партий товара Проверка товара на качество Участие в проведении инвентаризации
                                                +e.item
                                                    b Требования:
                                                    span Желателен опыт работы с негабаритным товаром (мебель)
                                            +b.button_theme_light.VacanciesLink ОТКЛИКНУТЬСЯ
                            .item
                                +b.block.border
                                    +b.vacancies
                                        +e.wrap
                                            +e.head
                                                +e.date 19.02.2018
                                                +e.name Менеджер - дизайнер
                                            +e.main
                                                +e.item
                                                    b Тип занятости:
                                                    span Полная занятость
                                                +e.item
                                                    b Обязанности:
                                                    span Разгрузка, погрузка, упаковка Перемещение предметов по складу, набор по накладным, комплектация партий товара Проверка товара на качество Участие в проведении инвентаризации
                                                +e.item
                                                    b Требования:
                                                    span Желателен опыт работы с негабаритным товаром (мебель)
                                            +b.button_theme_light.VacanciesLink ОТКЛИКНУТЬСЯ
                            .item
                                +b.block.border
                                    +b.vacancies
                                        +e.wrap
                                            +e.head
                                                +e.date 19.02.2018
                                                +e.name Менеджер - дизайнер
                                            +e.main
                                                +e.item
                                                    b Тип занятости:
                                                    span Полная занятость
                                                +e.item
                                                    b Обязанности:
                                                    span Разгрузка, погрузка, упаковка Перемещение предметов по складу, набор по накладным, комплектация партий товара Проверка товара на качество Участие в проведении инвентаризации
                                                +e.item
                                                    b Требования:
                                                    span Желателен опыт работы с негабаритным товаром (мебель)
                                            +b.button_theme_light.VacanciesLink ОТКЛИКНУТЬСЯ
                            .item
                                +b.block.border
                                    +b.vacancies
                                        +e.wrap
                                            +e.head
                                                +e.date 19.02.2018
                                                +e.name Менеджер - дизайнер
                                            +e.main
                                                +e.item
                                                    b Тип занятости:
                                                    span Полная занятость
                                                +e.item
                                                    b Обязанности:
                                                    span Разгрузка, погрузка, упаковка Перемещение предметов по складу, набор по накладным, комплектация партий товара Проверка товара на качество Участие в проведении инвентаризации
                                                +e.item
                                                    b Требования:
                                                    span Желателен опыт работы с негабаритным товаром (мебель)
                                            +b.button_theme_light.VacanciesLink ОТКЛИКНУТЬСЯ
                +footer({promo: false})
        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')

