mixin header-bottom
    +b.header-bottom
        +e.box.section__box.ui.sticky
            .ui.menu
                
                .ui.pointing.dropdown.link.item
                    i.content.icon
                    | Каталог
                    i.dropdown.icon
                    .menu
                        .item
                            .header-bottom__head
                                span.text Гостиные
                                i
                                    svg(viewBox="0 0 7 12" width="7px" height="12px")
                                        path(class="cls-1" d="M.75,11.4l5.5-5.5L.75.4" fill="none" stroke-linejoin="round")
                            .menu.right.level-last
                                .ui.column.grid
                                    .column
                                        h4.ui.header СТИЛИ
                                        .ui.link.list
                                            a.item(href="#")
                                                span Классика
                                            a.item(href="#")
                                                span Современный
                                            a.item(href="#")
                                                span Арт-Деко (Ар Деко)
                                            a.item(href="#")
                                                span Модерн
                                    .column
                                        h4.ui.header ПРЕДМЕТЫ
                                        .ui.link.list
                                            a.item
                                                span Витрина
                                            a.item
                                                span Буфет
                                            a.item
                                                span Комод
                                            a.item
                                                span Тумба
                                            a.item
                                                span Зеркало
                                            a.item
                                                span Тумба
                                            a.item
                                                span Стол Овальный
                                            a.item
                                                span Столик Журнальный
                                            a.item
                                                span Стул
                                    .column
                                        h4.ui.header ФАБРИКИ
                                        .ui.link.list
                                            a.item
                                                span Adrenalina
                                            a.item
                                                span Agm
                                            a.item
                                                span Agostini
                                            a.item
                                                span Alberta Salotti
                                            a.item
                                                span Adrenalina
                                            a.item
                                                span Agm
                                            a.item
                                                span Agostini
                                            a.item
                                                span Alberta Salotti
                                            a.item
                                                span Adrenalina
                                            a.item
                                                span Agm
                        .item
                            .header-bottom__head Спальни
                                i
                                    svg(viewBox="0 0 7 12" width="7px" height="12px")
                                        path(class="cls-1" d="M.75,11.4l5.5-5.5L.75.4" fill="none" stroke-linejoin="round")
                        .item
                            .header-bottom__head Мягкая Мебель
                                i
                                    svg(viewBox="0 0 7 12" width="7px" height="12px")
                                        path(class="cls-1" d="M.75,11.4l5.5-5.5L.75.4" fill="none" stroke-linejoin="round")
                        .item
                            .header-bottom__head Кухни
                                i
                                    svg(viewBox="0 0 7 12" width="7px" height="12px")
                                        path(class="cls-1" d="M.75,11.4l5.5-5.5L.75.4" fill="none" stroke-linejoin="round")
                        .item
                            .header-bottom__head Детская Мебель
                                i
                                    svg(viewBox="0 0 7 12" width="7px" height="12px")
                                        path(class="cls-1" d="M.75,11.4l5.5-5.5L.75.4" fill="none" stroke-linejoin="round")
                        .item
                            .header-bottom__head Предметы Интерьера
                                i
                                    svg(viewBox="0 0 7 12" width="7px" height="12px")
                                        path(class="cls-1" d="M.75,11.4l5.5-5.5L.75.4" fill="none" stroke-linejoin="round")
                        .item
                            .header-bottom__head Офисная Мебель
                                i
                                    svg(viewBox="0 0 7 12" width="7px" height="12px")
                                        path(class="cls-1" d="M.75,11.4l5.5-5.5L.75.4" fill="none" stroke-linejoin="round")
                        .item
                            .header-bottom__head Кабинеты
                                i
                                    svg(viewBox="0 0 7 12" width="7px" height="12px")
                                        path(class="cls-1" d="M.75,11.4l5.5-5.5L.75.4" fill="none" stroke-linejoin="round")
                        .item
                            .header-bottom__head Проектная Мебель
                                i
                                    svg(viewBox="0 0 7 12" width="7px" height="12px")
                                        path(class="cls-1" d="M.75,11.4l5.5-5.5L.75.4" fill="none" stroke-linejoin="round")
                        .item
                            .header-bottom__head Ванные Комнаты
                                i
                                    svg(viewBox="0 0 7 12" width="7px" height="12px")
                                        path(class="cls-1" d="M.75,11.4l5.5-5.5L.75.4" fill="none" stroke-linejoin="round")
                        .item
                            .header-bottom__head Межкомнатные Двери
                                i
                                    svg(viewBox="0 0 7 12" width="7px" height="12px")
                                        path(class="cls-1" d="M.75,11.4l5.5-5.5L.75.4" fill="none" stroke-linejoin="round")
                        .item
                            .header-bottom__head Прихожие
                                i
                                    svg(viewBox="0 0 7 12" width="7px" height="12px")
                                        path(class="cls-1" d="M.75,11.4l5.5-5.5L.75.4" fill="none" stroke-linejoin="round")
                        .item
                            .header-bottom__head Стенки ТВ И Стеллажи
                                i
                                    svg(viewBox="0 0 7 12" width="7px" height="12px")
                                        path(class="cls-1" d="M.75,11.4l5.5-5.5L.75.4" fill="none" stroke-linejoin="round")
                        .item
                            .header-bottom__head Столы И Стулья
                                i
                                    svg(viewBox="0 0 7 12" width="7px" height="12px")
                                        path(class="cls-1" d="M.75,11.4l5.5-5.5L.75.4" fill="none" stroke-linejoin="round")
                        .item
                            .header-bottom__head Шкафы И Гардеробы
                                i
                                    svg(viewBox="0 0 7 12" width="7px" height="12px")
                                        path(class="cls-1" d="M.75,11.4l5.5-5.5L.75.4" fill="none" stroke-linejoin="round")
                .ui.pointing.dropdown.link.item
                    | Товар в наличии
                    i.dropdown.icon
                    .menu
                        .item
                            .header-bottom__head
                                span.text Гостиные
                                i
                                    svg(viewBox="0 0 7 12" width="7px" height="12px")
                                        path(class="cls-1" d="M.75,11.4l5.5-5.5L.75.4" fill="none" stroke-linejoin="round")
                            .menu.right.level-last
                                .ui.column.grid
                                    .column
                                        h4.ui.header СТИЛИ
                                        .ui.link.list
                                            a.item(href="#")
                                                span Классика
                                            a.item
                                                span Современный
                                            a.item
                                                span Арт-Деко (Ар Деко)
                                            a.item
                                                span Модерн
                                    .column
                                        h4.ui.header ПРЕДМЕТЫ
                                        .ui.link.list
                                            a.item
                                                span Витрина
                                            a.item
                                                span Буфет
                                            a.item
                                                span Комод
                                            a.item
                                                span Тумба
                                            a.item
                                                span Зеркало
                                            a.item
                                                span Тумба
                                            a.item
                                                span Стол Овальный
                                            a.item
                                                span Столик Журнальный
                                            a.item
                                                span Стул
                                    .column
                                        h4.ui.header ФАБРИКИ
                                        .ui.link.list
                                            a.item
                                                span Adrenalina
                                            a.item
                                                span Agm
                                            a.item
                                                span Agostini
                                            a.item
                                                span Alberta Salotti
                                            a.item
                                                span Adrenalina
                                            a.item
                                                span Agm
                                            a.item
                                                span Agostini
                                            a.item
                                                span Alberta Salotti
                                            a.item
                                                span Adrenalina
                                            a.item
                                                span Agm
                        .item
                            .header-bottom__head Спальни
                        .item
                            .header-bottom__head Мягкая Мебель
                        .item
                            .header-bottom__head Кухни
                        .item
                            .header-bottom__head Детская Мебель
                        .item
                            .header-bottom__head Предметы Интерьера
                        .item
                            .header-bottom__head Офисная Мебель
                        .item
                            .header-bottom__head Кабинеты
                        .item
                            .header-bottom__head Проектная Мебель
                        .item
                            .header-bottom__head Ванные Комнаты
                        .item
                            .header-bottom__head Межкомнатные Двери
                        .item
                            .header-bottom__head Прихожие
                        .item
                            .header-bottom__head Стенки ТВ И Стеллажи
                        .item
                            .header-bottom__head Столы И Стулья
                        .item
                            .header-bottom__head Шкафы И Гардеробы
                .ui.pointing.dropdown.link.item
                    | акции и скидки
                    i.dropdown.icon
                    .menu
                        .item
                            .header-bottom__head
                                span.text Гостиные
                                i
                                    svg(viewBox="0 0 7 12" width="7px" height="12px")
                                        path(class="cls-1" d="M.75,11.4l5.5-5.5L.75.4" fill="none" stroke-linejoin="round")
                            .menu.right.level-last
                                .ui.column.grid
                                    .column
                                        h4.ui.header СТИЛИ
                                        .ui.link.list
                                            a.item(href="#")
                                                span Классика
                                            a.item
                                                span Современный
                                            a.item
                                                span Арт-Деко (Ар Деко)
                                            a.item
                                                span Модерн
                                    .column
                                        h4.ui.header ПРЕДМЕТЫ
                                        .ui.link.list
                                            a.item
                                                span Витрина
                                            a.item
                                                span Буфет
                                            a.item
                                                span Комод
                                            a.item
                                                span Тумба
                                            a.item
                                                span Зеркало
                                            a.item
                                                span Тумба
                                            a.item
                                                span Стол Овальный
                                            a.item
                                                span Столик Журнальный
                                            a.item
                                                span Стул
                                    .column
                                        h4.ui.header ФАБРИКИ
                                        .ui.link.list
                                            a.item
                                                span Adrenalina
                                            a.item
                                                span Agm
                                            a.item
                                                span Agostini
                                            a.item
                                                span Alberta Salotti
                                            a.item
                                                span Adrenalina
                                            a.item
                                                span Agm
                                            a.item
                                                span Agostini
                                            a.item
                                                span Alberta Salotti
                                            a.item
                                                span Adrenalina
                                            a.item
                                                span Agm
                        .item
                            .header-bottom__head Спальни
                        .item
                            .header-bottom__head Мягкая Мебель
                        .item
                            .header-bottom__head Кухни
                        .item
                            .header-bottom__head Детская Мебель
                        .item
                            .header-bottom__head Предметы Интерьера
                        .item
                            .header-bottom__head Офисная Мебель
                        .item
                            .header-bottom__head Кабинеты
                        .item
                            .header-bottom__head Проектная Мебель
                        .item
                            .header-bottom__head Ванные Комнаты
                        .item
                            .header-bottom__head Межкомнатные Двери
                        .item
                            .header-bottom__head Прихожие
                        .item
                            .header-bottom__head Стенки ТВ И Стеллажи
                        .item
                            .header-bottom__head Столы И Стулья
                        .item
                            .header-bottom__head Шкафы И Гардеробы
                .ui.pointing.dropdown.link.item
                    | фабрики
                    i.dropdown.icon
                    .menu
                        .item
                            .header-bottom__head
                                span.text Гостиные
                                i
                                    svg(viewBox="0 0 7 12" width="7px" height="12px")
                                        path(class="cls-1" d="M.75,11.4l5.5-5.5L.75.4" fill="none" stroke-linejoin="round")
                            .menu.right.level-last
                                .ui.column.grid
                                    .column
                                        h4.ui.header СТИЛИ
                                        .ui.link.list
                                            a.item(href="#")
                                                span Классика
                                            a.item
                                                span Современный
                                            a.item
                                                span Арт-Деко (Ар Деко)
                                            a.item
                                                span Модерн
                                    .column
                                        h4.ui.header ПРЕДМЕТЫ
                                        .ui.link.list
                                            a.item
                                                span Витрина
                                            a.item
                                                span Буфет
                                            a.item
                                                span Комод
                                            a.item
                                                span Тумба
                                            a.item
                                                span Зеркало
                                            a.item
                                                span Тумба
                                            a.item
                                                span Стол Овальный
                                            a.item
                                                span Столик Журнальный
                                            a.item
                                                span Стул
                                    .column
                                        h4.ui.header ФАБРИКИ
                                        .ui.link.list
                                            a.item
                                                span Adrenalina
                                            a.item
                                                span Agm
                                            a.item
                                                span Agostini
                                            a.item
                                                span Alberta Salotti
                                            a.item
                                                span Adrenalina
                                            a.item
                                                span Agm
                                            a.item
                                                span Agostini
                                            a.item
                                                span Alberta Salotti
                                            a.item
                                                span Adrenalina
                                            a.item
                                                span Agm
                        .item
                            .header-bottom__head Спальни
                        .item
                            .header-bottom__head Мягкая Мебель
                        .item
                            .header-bottom__head Кухни
                        .item
                            .header-bottom__head Детская Мебель
                        .item
                            .header-bottom__head Предметы Интерьера
                        .item
                            .header-bottom__head Офисная Мебель
                        .item
                            .header-bottom__head Кабинеты
                        .item
                            .header-bottom__head Проектная Мебель
                        .item
                            .header-bottom__head Ванные Комнаты
                        .item
                            .header-bottom__head Межкомнатные Двери
                        .item
                            .header-bottom__head Прихожие
                        .item
                            .header-bottom__head Стенки ТВ И Стеллажи
                        .item
                            .header-bottom__head Столы И Стулья
                        .item
                            .header-bottom__head Шкафы И Гардеробы
                .right.menu
                    a.item._border
                        .fixed-search
                            form#form_header(action='/catalog/search/')
                                input.fixed-search__input(name='q', value='', type='text', placeholder='ПОИСК СРЕДИ 30 000 ТОВАРОВ')
                                button.fixed-search__btn(type='submit', name='s', title='Поиск')
                                    i.search.icon
                    a.item.cart(data-position="bottom right")
                        | корзина
                        i.icon.cart
                        span.cart-count 5
